.homepage {

	// Added this in order to link backstretch image to this element
	#desc-container {
	  height: 100%;
	  position: relative;
	  //width: 100%; /* no width set so image backstretch only takes up the auto width of desc-container */
	  h1 {
		  width:300px;
		  height:auto;
		  text-align:center;
		  color:#777;
		  position:absolute;
		  left:50%;
		  margin-left:-150px;
		  top:60%;
	  }
	  .backstretch {
		  img {
			  height:2000px;
		  }
	  }
	}

  // MARKET LIST
  #markets-list {
    height: 100%;
    color:@white;
  }
  #markets-container {
    height: inherit;
  }

  .market-block {
    background: transparent;
    height: 25%;
    cursor:pointer;
	border:none;
	padding:0;
    .market {
      margin:0 5% 0 15%;
      position: relative;
      width: 80%;
      height:auto;
      .market-icon {
        float:left;
        width:13%;
        margin-right:4%;
        .icon {
        	height:73px;
        	width:auto;
	        margin:auto;
        }
      } // market-icon
      .market-label {
	      font-weight:100;
	      float:left;
	      width:83%;

      }
      .market-subtitle {
	      font-weight:300;
	      float:left;
	      width:83%;
      }
    } // market
  } // market-block

  // MARKET LIST THEMES
  .market-discover {
  	background:@discover;
    &:before {
      border-left-color:@discover;
    }
    &:hover {
      border-left-color:darken(@discover,6%);
      //background:rgba(124,38,114,0.90); /*EDITED - from 15% to 90% */
      background:lighten(@discover,5%);
    }
  } // discover
  .market-gather {
  	background:@gather;
    &:before {
      border-left-color:@gather;
    }
    &:hover {
      border-left-color:darken(@gather,6%);
      //background:rgba(237,82,86,0.90); /*EDITED - from 15% to 90% */
      background:lighten(@gather,5%);
    }
  } // gather
  .market-receive {
  	background:@receive;
    &:before {
      border-left-color:@receive;
    }
    &:hover {
      border-left-color:darken(@receive,6%);
      //background:rgba(12,150,136,0.90); /*EDITED - from 15% to 90% */
      background:lighten(@receive,5%);
    }
  } // receive
  .market-connect {
  	background:@connect;
    &:before {
      border-left-color:@connect;
    }
    &:hover {
      border-left-color:darken(@connect,6%);
      //background:rgba(5,149,187,0.90); /*EDITED - from 15% to 90% */
      background:lighten(@connect,5%);
    }
  } // connect

  // MARKET OVERLAY
  .market-overlay {
    background: transparent;
    height: 25%;
    width: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    color:@white;
    padding:0;
    margin:0;
    .market-o-copy {
      width:58.32%;
      height:100%;
      float:left;
      padding:0; /* no top/btm padding so dynamicAlign can work */
      position: relative;
      background:@white;
      cursor:pointer;
      h3,
      p,
      .btn {
	      margin-left: 5%;
	      margin-right:15%;
      }
      h3 {
        text-transform:uppercase;
        margin-bottom:@block-title / 2.5;
      }
      p {
	    margin-bottom:@block-title / 2.5;
      }
    }
    .market-o-img {
      display:block;
      width:auto;
      height:inherit;
      position:absolute;
      right: 0;
      left: auto;
      bottom:0;
      z-index:2;
      img {
        height: inherit;
        width: auto;
      }
    }
    .market-o-brand {
	    background:@white;
	    width:41.68%;
	    height:100%;
	    float:right;
	    color:@black;
	    .market-block {
		    height:100%;
	    }
	    .market-subtitle {
		    font-weight:400;
	    }
    }
    .home-close {
	    color:#bbb;
	    position:absolute;
	    right:30px;
	    top:30px;
	    font-size:30px;
	    -webkit-transition: color .75s ease;
	    -moz-transition: color .75s ease;
	    -o-transition: color .75s ease;
	    transition: color .75s ease;
	    cursor:pointer;
	    z-index:3;
	}
	.home-close:hover {
	    color:@black;
	}
  } // market-overlay

  // MARKET OVERLAY THEMES
  #market-discover {
    top: 0;
    .market-o-copy {
      background: @discover;
      .btn-primary {
	      color:@white;
      }
    }
    .market-o-brand {
	    color:@discover;
    }
  } // discover
  #market-gather {
    top: 25%;
    .market-o-copy {
      background: @gather;
      .btn-primary {
	      color:@white;
      }
    }
    .market-o-brand {
	    color:@gather;
    }
  } // gather
  #market-receive {
    top: 50%;
    .market-o-copy {
      background: @receive;
      .btn-primary {
	      color:@white;
      }
    }
    .market-o-brand {
	    color:@receive;
    }
  } // receive
  #market-connect {
    top: 75%;
    .market-o-copy {
      background: @connect;
      .btn-primary {
	      color:@white;
      }
    }
    .market-o-brand {
	    color:@connect;
    }
  } // connect

} // homepage

// HOMEPAGE MEDIA QUERIES
// --------------------------------------------------

@media (max-width: @screen-xxl-max) { /* max width 1999px */
.homepage {

	.market-block {
		.market {
			margin:0 14%;
			width:72%;
		    .market-icon {
		        width:14%;
		        margin-right:4%;
		            .icon {
			            height:63px;
			            width:auto;
		            }
		        }
			    .market-label {
			        width:82%;
		        }
		        .market-subtitle {
			        width:82%;
		        }
		} // market
	} // market-block

	#desc-container {
		width:50%;
	}
	#markets-list {
		width:50%;
	}
	.market-overlay {
		.market-o-copy {
			width:50%;
		}
		.market-o-brand {
			width:50%;
		}
	} // market-overlay

} // homepage
} // screen-xxl-max

@media (max-width: @screen-xl-max) { /* max width 1679px */
.homepage {

	.market-block {
		.market {
			margin:0 7%;
			width:86%;
		    .market-icon {
		        width:13%;
		        margin-right:3%;
		            .icon {
			            height:59px;
			            width:auto;
		            }
		        }
			    .market-label {
			        width:84%;
		        }
		        .market-subtitle {
			        width:84%;
		        }
		} // market
	} // market-block

} // homepage
} // screen-xl-max

@media (max-width: @screen-lg-max) { /* max width 1439px */
.homepage {

	.market-block {
		.market {
			margin:0 5%;
			width:90%;
		    .market-icon {
		        width:12%;
		        margin-right:3%;
		            .icon {
			            height:57px;
			            width:auto;
		            }
		        }
			    .market-label {
			        width:85%;
		        }
		        .market-subtitle {
			        width:85%;
			        margin-top:ceil(@block-subtitle / 2.25);
		        }
		} // market
	} // market-block

	.market-overlay {
		height:100%;
		.market-o-img {
			max-height:300px;
		}
		.dynamicAlign {
			margin-top:0 !important;
			position:relative;
			top:15%;
		}
	} // market-overlay
	div[id*="market-"] {
		top:0 !important;
	}

} // homepage
} // screen-lg-max

@media (max-width: @screen-md-max) { /* max width 1199px */
.homepage {

	.market-block {
		.market {
		    .market-icon {
		        width:14%;
		        margin-right:4%;
		            .icon {
			            height:53px;
			            width:auto;
		            }
		        }
			    .market-label {
			        width:82%;
		        }
		        .market-subtitle {
			        width:82%;
		        }
		} // market
	} // market-block

} // homepage
} // screen-md-max

@media (max-width: @screen-sm-max) { /* max width 991px */
.homepage {

	#view-container {
		height:inherit !important;
		overflow:inherit !important;
		position:inherit !important;
	}
	#desc-container {
		width:100%;
		min-height:300px;
	}
	#markets-list {
		width:100%;
	}
	.market-block {
		height:100%;
		min-height:140px;
		.market {
			margin:0 7%;
			width:86%;
		    .market-icon {
		        width:13%;
		        margin-right:4%;
		            .icon {
			            height:56px;
			            width:auto;
		            }
		        }
			    .market-label {
			        width:83%;
		        }
		        .market-subtitle {
			        width:83%;
			        margin-top:ceil(@block-subtitle / 1.5);
		        }
		} // market
	} // market-block

} // homepage
} // screen-sm-max

@media (max-width: @screen-xs-max) { /* max width 767px */
.homepage {

	.market-block {
		height:100%;
		min-height:140px;
		.market {
			margin:0 5%;
			width:90%;
		    .market-icon {
		        width:13%;
		        margin-right:5%;
		            .icon {
			            height:45px;
			            width:auto;
		            }
		        }
			    .market-label {
			        width:82%;
			        margin-top:ceil(@block-title / 4);
		        }
		        .market-subtitle {
			        width:82%;
			        margin-top:ceil(@block-subtitle / 3);
		        }
		} // market
	} // market-block

} // homepage
} // screen-xs-max

@media (max-width: @screen-xxs-max) { /* max width 479px */
.homepage {

	.market-block {
		.market {
		    .market-icon {
		        width:16%;
		        margin-right:6%;
		            .icon {
			            height:40px;
			            width:auto;
		            }
		        }
			    .market-label {
			        width:78%;
			        margin-top:ceil(@block-title / 4.75);
		        }
		        .market-subtitle {
			        width:78%;
			        margin-top:ceil(@block-subtitle / 2);
		        }
		} // market
	} // market-block

} // homepage
} // screen-xxs-max

@media (max-height: @screen-md-height) { /* max height 900px */
.homepage {

	.market-overlay {
		height:100%;
		.market-o-img {
			max-height:300px;
		}
		.dynamicAlign {
			margin-top:0 !important;
			position:relative;
			top:15%;
		}
	} // market-overlay
	div[id*="market-"] {
		top:0 !important;
	}

} // homepage
} // screen-md-height