.search-global {
  .search-term {

    font-size:45px !important;

    .fa {
      font-size:15px;
      position:relative;
      top:-20px;
      margin-bottom:45px;
    }
  }

  .search-page-title {

    margin-bottom:8px;

    a {
      color:@calvarylife;
    }
  }

  .search-meta {
    margin-bottom:8px;
  }

  .pagination-container {
    .active {
      color:@calvarylife;
    }
  }


}