// PAGE - CONTACT
// --------------------------------------------------

.entry-37 {

	#sidebar-container {
		background:rgba(255,255,255,1);
	}

	.block i.fa {
		display:none;
	}

	.block.contact_page_form i.fa {
		display:inline;
	}

	.block:not(.first_block) {
		p.lead {
			font-size:ceil(@lead / 1.35);
			margin-bottom:ceil(@lead / 1.75);
		}
	}

}