// PAGE - SEARCH
// --------------------------------------------------

.search-global {

	hr {
		margin-top:30px;
		margin-bottom:30px;
	}

	.search-term {
		font-size:45px !important;
		.fa {
		  font-size:15px;
		  position:relative;
		  top:-20px;
		  margin-bottom:45px;
		}
	} //search-term

	.result {
		height:auto;

		.search-meta {
			margin-bottom:10px;
		}

		.search-section-title {
			margin-bottom:20px;
			a {
			  color:@calvarylife;
			}
			a:hover {
			  text-decoration: none;
			}
		}

		.block-result {
			margin-bottom:0;
			position:relative;
			&, p, h1, h2, h3, h4, h5 {
				font-weight: 300 !important;
			}
		}

		.search-result-col-image,
		.search-result-map {
			overflow:hidden;
		}

		.search-result-cta {
			width:100%;
			height:24px;
			position:inherit;
			margin-top:20px;
			a {
				width:auto;
			}
		}

		.search-text_2_images,
		.search-text_3_images,
		.search-text_image_left,
		.search-text_image_right,
		.search-text_image_top,
		.search-graph_text_left,
		.search-graph_text_right,
		.search-image_text_overlay {
			.search-result-cta {
				width:100%;
				height:24px;
				position:absolute;
				bottom:0;
				right:0;
			}
		}

		.search-image_gallery {
			.search-result-gallery {
				margin-bottom:20px;
			}
		}

		.search-map {
			padding-bottom:40px;
			height:290px;
			.search-result-map {
				height:250px;
			}
		}


			img:not(.no-border) {
				border:1px solid #eee;
			}


	} // result

	.pagination-container {
		.active {
		  color:@calvarylife;
		}
		.pagination {
			li {
				a, span {
				  border:0;
				}
			}
		}
	} // pagination-container

} // search-global

// MQ - GLOBAL SEARCH
// --------------------------------------------------

// max 1999px
@media (max-width: @screen-xxl-max) {
} // max 1999px
// max 1679px
@media (max-width: @screen-xl-max) {
} // max 1679px
// max 1439px
@media (max-width: @screen-lg-max) {
} // max 1439px
// max 1199px
@media (max-width: @screen-md-max) {
} // max 1199px
// max 991px
@media (max-width: @screen-sm-max) {
} // max 991px
// max 767px
@media (max-width: @screen-xs-max) {

.search-global {
	.result {
		.search-result-col-image {
			margin-bottom:20px;
		}
		.search-result-cta {
			width:100%;
			height:30px;
			position:inherit;
			margin-top:20px;
			padding-right:@grid-gutter-width / 2;
			padding-left:@grid-gutter-width / 2;
		}
		.search-text_2_images,
		.search-text_3_images,
		.search-text_image_left,
		.search-text_image_right,
		.search-text_image_top,
		.search-graph_text_left,
		.search-graph_text_right,
		.search-image_text_overlay {
			.search-result-cta {
				width:100%;
				height:30px;
				position:inherit;
				margin-top:20px;
				padding-right:@grid-gutter-width / 2;
				padding-left:@grid-gutter-width / 2;
			}
		}
	} // result
}

} // max 767px
// max height 900px
@media (max-height: @screen-md-height) {
} // max height 900px