// PAGE - SITE MAP
// --------------------------------------------------

.entry-35 {

	#sidebar-container {
		background:rgba(255,255,255,1);
	}
/*
	.section:nth-of-type(2) {
	  padding-top: 4%;
	}
*/
	.section:nth-last-of-type(1) .sitemap {
	  padding-bottom: 4%;
	}

}

