// THEME - CALVARYLIFE
// --------------------------------------------------

// NAVBAR
header#site-header #navbar.navbar.navbar-default {
  .navbar-collapse .navbar-nav {
    > li[class^="menu-"] {
      &.active a {
        color:@calvarylife;
      }
      &.dropdown {
        &.active > a,
        &.active > a:hover,
        &.active > a:focus {
          color:@calvarylife;
        }
        > .dropdown-menu {
          > li > a:focus,
          > li.active a {
            color:@calvarylife;
          }
        }
      } // dropdown
    } // li.*
  } // .navbar-nav
  .navbar-sub .navbar-sub-list {
    &.calvarylife {
      li.active a {
        color:@calvarylife;
      }
    } // &.*
  } // .navbar-sub-list
} // navbar

// PAGES
.calvarylife,
.home {

  header#site-header #navbar.navbar.navbar-default {
    .navbar-header {
      a.navbar-toggle {
        &:hover,
        &:focus {
          color:@calvarylife;
        }
      } // navbar-toggle
    } // navbar-header
    input.global-search-field:focus {
      border-bottom:1px solid @calvarylife;
    }
  } // site-header

  #sidebar {
    #navbar-header.navbar-header {
      a.navbar-toggle {
        &:hover,
        &:focus {
          color:@calvarylife;
        }
      } // navbar-toggle
    } // navbar-header
  } // sidebar

  #sidebar-container #sidebar-content nav.breadcrumb-links {
  	 .bc-parent-1 {
	     background:darken(@calvarylife,10%);
	   }
	   .bc-parent-2 {
	     background:darken(@calvarylife,20%);
	   }
	   .bc-current {
		   background:darken(@calvarylife,30%);
	   }
	}

  #sidebar-container #sidebar-content nav.section-links ul.list-sections > li.active > a {
    color:@calvarylife;
  }
  .block {
    h1,h2,h3,.block-title,h2.block-title,block-title-plus {
      color:@calvarylife;
    }
  }
  .text_super,
  .text_super_banner {
    .block-title-plus {
      color:@calvarylife;
    }
  }
  /*
  .btn-primary {
      background-color:@calvarylife;
      border-color:darken(@calvarylife,10%);
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
      background-color:darken(@calvarylife,10%);
      border-color:@calvarylife;
  }
  */
  .block.colored,
  .theme-bkgd {
    background-color:@calvarylife;
    color:@white;
    h1,h2,h3,h4,h5,h6,p,span {
      color:@white;
    }
    .alert:after {
      border-bottom-color:@calvarylife;
    }
    /*
    .btn-primary {
        color:@calvarylife;
    }
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
        color:@white;
        background-color:darken(@calvarylife,10%);
        border-color:lighten(@calvarylife,5%);
    }
    */
  }
  &.transit {
    #view-container {
      background:@calvarylife;
      color:@white;
    }
    .page-block {
      .page {
        h2 {
          color:@calvarylife;
        }
      } // page
    } // page-block
  }
  .carousel {
    .rsDefault {
      .rsBullets {
        .rsBullet.rsNavSelected span {
          background:@calvarylife;
        }
      }
    }
  }

}