// THEME - CONNECT
// --------------------------------------------------

// NAVBAR
header#site-header #navbar.navbar.navbar-default {
  // PATIENT
  .navbar-collapse .navbar-nav > li.menu-connect {
    &.active a {
      color:@connect;
    }
    &.dropdown {
      &.active > a,
      &.active > a:hover,
      &.active > a:focus {
        color:@connect;
      }
      > .dropdown-menu {
        > li > a:focus,
        > li.active a {
          color:@connect;
        }
      }
    } // dropdown
  } // li.connect
  .navbar-sub .navbar-sub-list.connect {
    li.active a {
      color:@connect;
    }
  } // .navbar-sub-list.connect
} // navbar

// SITEMAP
.block.sitemap {
  .connect {
    h3 {
      color:@connect;
    }
    .sitemap-item {
      border-color:@connect;
    }
    .sitemap-item:before {
      background:@connect;
    }
  }
}

// PAGES
.connect {

  header#site-header #navbar.navbar.navbar-default {
    .navbar-header {
      a.navbar-toggle {
        &:hover,
        &:focus {
          color:@connect;
        }
      } // navbar-toggle
    } // navbar-header
    input.global-search-field:focus {
      border-bottom:1px solid @connect;
    }
  } // site-header

  #sidebar {
    #navbar-header.navbar-header {
      a.navbar-toggle {
        &:hover,
        &:focus {
          color:@connect;
        }
      } // navbar-toggle
    } // navbar-header
  } // sidebar

  #sidebar-container #sidebar-content nav.breadcrumb-links {
  	 .bc-parent-1 {
	     background:darken(@connect,10%);
	   }
	   .bc-parent-2 {
	     background:darken(@connect,20%);
	   }
	   .bc-current {
		   background:darken(@connect,30%);
	   }
	}

  #sidebar-container #sidebar-content nav.section-links ul.list-sections > li.active > a {
    color:@connect;
  }
  .block {
    h1,h2,h3,.block-title,h2.block-title,block-title-plus {
      color:@connect;
    }
  }
  .text_super,
  .text_super_banner {
    .block-title-plus {
      color:@connect;
    }
  }
  /*
  .btn-primary {
      background-color:@connect;
      border-color:darken(@connect,10%);
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
      background-color:darken(@connect,10%);
      border-color:@connect;
  }
  */
  .block.colored,
  .theme-bkgd {
    background-color:@connect;
    color:@white;
    h1,h2,h3,h4,h5,h6,p,span {
      color:@white;
    }
    .alert:after {
      border-bottom-color:@connect;
    }
    /*
    .btn-primary {
        color:@connect;
    }
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
        color:@white;
        background-color:darken(@connect,10%);
        border-color:lighten(@connect,5%);
    }
    */
  }
  &.transit {
    #view-container {
      background:@connect;
      color:@white;
    }
    .page-block {
      .page {
        h2 {
          color:@connect;
        }
      } // page
    } // page-block
  }
  .carousel {
    .rsDefault {
      .rsBullets {
        .rsBullet.rsNavSelected span {
          background:@connect;
        }
      }
    }
  }
}