// THEME - GATHER
// --------------------------------------------------

// NAVBAR
header#site-header #navbar.navbar.navbar-default {
  // BIOPHARMA
  .navbar-collapse .navbar-nav > li.menu-gather {
    &.active a {
      color:@gather;
    }
    &.dropdown {
      &.active > a,
      &.active > a:hover,
      &.active > a:focus {
        color:@gather;
      }
      > .dropdown-menu {
        > li > a:focus,
        > li.active a {
          color:@gather;
        }
      }
    } // dropdown
  } // li.gather
  .navbar-sub .navbar-sub-list.gather {
    li.active a {
      color:@gather;
    }
  } // .navbar-sub-list.gather
} // navbar

// SITEMAP
.block.sitemap {
  .gather {
    h3 {
      color:@gather;
    }
    .sitemap-item {
      border-color:@gather;
    }
    .sitemap-item:before {
      background:@gather;
    }
  }
}

// PAGES
.gather {

  header#site-header #navbar.navbar.navbar-default {
    .navbar-header {
      a.navbar-toggle {
        &:hover,
        &:focus {
          color:@gather;
        }
      } // navbar-toggle
    } // navbar-header
    input.global-search-field:focus {
      border-bottom:1px solid @gather;
    }
  } // site-header

  #sidebar {
    #navbar-header.navbar-header {
      a.navbar-toggle {
        &:hover,
        &:focus {
          color:@gather;
        }
      } // navbar-toggle
    } // navbar-header
  } // sidebar

  #sidebar-container #sidebar-content nav.breadcrumb-links {
  	 .bc-parent-1 {
	     background:darken(@gather,10%);
	   }
	   .bc-parent-2 {
	     background:darken(@gather,20%);
	   }
	   .bc-current {
		   background:darken(@gather,30%);
	   }
	}

  #sidebar-container #sidebar-content nav.section-links ul.list-sections > li.active > a {
    color:@gather;
  }
  .block {
    h1,h2,h3,.block-title,h2.block-title,block-title-plus {
      color:@gather;
    }
  }
  .text_super,
  .text_super_banner {
    .block-title-plus {
      color:@gather;
    }
  }
  /*
  .btn-primary {
      background-color:@gather;
      border-color:darken(@gather,10%);
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
      background-color:darken(@gather,10%);
      border-color:@gather;
  }
  */
  .block.colored,
  .theme-bkgd {
    background-color:@gather;
    color:@white;
    h1,h2,h3,h4,h5,h6,p,span {
      color:@white;
    }
    .alert:after {
      border-bottom-color:@gather;
    }
    /*
    .btn-primary {
        color:@gather;
    }
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
        color:@white;
        background-color:darken(@gather,10%);
        border-color:lighten(@gather,5%);
    }
    */
  }
  &.transit {
    #view-container {
      background:@gather;
      color:@white;
    }
    .page-block {
      .page {
        h2 {
          color:@gather;
        }
      } // page
    } // page-block
  }
  .carousel {
    .rsDefault {
      .rsBullets {
        .rsBullet.rsNavSelected span {
          background:@gather;
        }
      }
    }
  }

}