// SCAFFOLDING - SITE HEADER
// --------------------------------------------------

	header#site-header {
		.container {}
		#navbar {
			&.navbar.navbar-default {
				.navbar-header {
					.navbar-brand {
			    		.img-responsive {}
					} // navbar-brand
					.navbar-toggle {
						&.collapsed {}
						&:hover, &:focus {}
						> span {
							&:before {}
						}
					} // navbar-toggle
				} // navbar-header
				.navbar-collapse {
			    	.navbar-nav {
				    	li {
					    	a {
						    	&:hover {}
					    	}
					    	&.active {
						    	a {}
					    	}
					    	&.dropdown {
					    		> a .caret {}
								&.open {
									> a, a:hover, a:focus {}
								} // open
								&.active {}
								&.sub-active {}
								> .dropdown-menu {
							        > li {
							        	> a {}
							        	> a:hover, a:focus {}
							        	&.selected {
								        	a {}
							        	}
									} // li
							    } // dropdown-menu
					    	} // dropdown
							&#search-icon {
								form {}
								input {}
								a {
							      i {}
								}
							} // search-icon
				    	} // li
			    	} // nabar-nav
			    	&.navbar-collapse-target {
			    	} // &.navbar-collapse-target
			    	&.in {
			    	} // &.in
				} // navbar-collapse
			} // navbar.navbar-default
		} // navbar
		#navbar-sub {
			> ul,
		    > ul > li {
		    } // ul, li
		    > .navbar-sub-list {
		      > li {
		        a {
		          &:hover {}
		        }
		        &.active a {}
		        &:first-child a {}
		        &:last-child a {}
		      } // li
		    } // navbar-sub-list
		} // navbar-sub
		#subnav-search {
			button {}
		} // subnav-search
		input.global-search-field {
			&:focus {}
		} // global-search-field
	} // site-header