// SCAFFOLDING - EXTENDED PAGES
// --------------------------------------------------

		.main-container {
		} // main-container

		/* SIDEBAR MOBILE */
		#sidebar {
			#navbar-header.navbar-header {
				a.navbar-toggle {
					&:hover,
					&:focus {
					}
				} // navbar-toggle
			} // navbar-header
			.navbar-collapse {
				&.collapse {
				}
				&.in {
				}
				#sidebar-container {
					& {}
					ul {}
					a {}
					a:hover {}
					#sidebar-content {
					/* NOTE: all font-size, font-weight, and line-height controlled by typography.less */
						& {}
						.container {}
						nav > ul {}

						nav.breadcrumb-links {
						> div {
							a,
							span {
							}
							a:hover {
							}
						}
						.bc-parent-1 {
						}
						.bc-parent-2 {
						}
						} // breadcrumb-links

						nav.section-links {
						ul.list-sections {
							> li {
								> a {
								}
								> a:hover {
								}
								&.active > a {
								}
							} // li
						} // list-sections
						ul.list-related {
						  > li > a {
						  }
						  > li > a:hover {
						  }
						} // list-related
						} // section-links

						nav.sibling-links {
						ul.list-pages {
						  li {
						  }
						  a {
						  }
						  a:hover {
						  }
						} // list-page
						} // sibling-links
					}
				} // sidebar-container
			} // navbar-collapse
		} // sidebar-mobile

	  #arrow-top {}