//
// BOOTSTRAP GRID CUSTOMIZATIONS
// --------------------------------------------------

// Adjust by height
// --------------------------------------------------
@screen-sm-height:          720px;
@screen-md-height:          900px;

// Number of columns in the grid system
@grid-columns:              12;
// Padding, to be divided by two and applied to the left and right of all columns
@grid-gutter-width:         40px; /*changed*/
// Point at which the navbar stops collapsing
@grid-float-breakpoint:     @screen-md-min;

// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
// Note: Deprecated @screen-xs and @screen-phone as of v3.0.1
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xxs-max:			 (@screen-xs-min - 1);
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);

// Container sizes
// --------------------------------------------------

// Extra Small screen (+++ AUDACITY +++)
@container-phone:              ((@screen-phone - @grid-gutter-width));
@container-xs:                 90%;

// Small screen / tablet
@container-tablet:             ((@screen-tablet - @grid-gutter-width));
@container-sm:                 85%;

// Medium screen / desktop
@container-desktop:            ((@screen-desktop - @grid-gutter-width));
@container-md:                 90%;

// Large screen / wide desktop
@container-large-desktop:      ((@screen-lg-desktop - @grid-gutter-width));
@container-lg:                 90%;

// Adjust by height
@screen-sm-height:             720px;