// VARIABLES - TYPOGRAPHY
// --------------------------------------------------

@font-family-sans-serif:  		'proxima-nova', Helvetica, Arial, sans-serif;
@font-family-serif:       		Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   		Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base:        		@font-family-sans-serif;

@font-size-base:          		16px; /* was 14px */
@font-size-large:         		ceil(@font-size-base * 1.25); 	// ~18px
@font-size-small:         		ceil(@font-size-base * 0.85); 	// ~12px

@font-size-h1:            		floor(@font-size-base * 3.125); // 50px, 3.6em, 5.0rem
@font-size-h2:            		floor(@font-size-base * 2.15); 	// ~30px
@font-size-h3:            		ceil(@font-size-base * 2.5); 	// 40px, 2.5em, 4.0rem
@font-size-h4:            		ceil(@font-size-base * 1.25); 	// ~18px
@font-size-h5:            		@font-size-base;
@font-size-h6:            		ceil(@font-size-base * 0.85); 	// ~12px

@line-height-base:        		1.5; /* = 24px/16px ... was 1.428571429; = 20/14 */
@line-height-computed:    		floor(@font-size-base * @line-height-base); // ~24px

@headings-font-family:    		@font-family-base;
@headings-font-weight:    		300; /* was 500 */
@headings-line-height:    		1.1;
@headings-color:          		inherit;

// Links
// -------------------------

@link-color:            		@black;
@link-hover-color:      		darken(@link-color, 15%);

// Iconography
// -------------------------

//@icon-font-path:          	"../assets/fonts/";
@icon-font-name:          		"FontAwesome";

// Components
// -------------------------
// Based on 14px font-size and 1.428 line-height (~20px to start)

@padding-base-vertical:          6px;
@padding-base-horizontal:        12px;

@padding-large-vertical:         10px;
@padding-large-horizontal:       16px;

@padding-small-vertical:         5px;
@padding-small-horizontal:       10px;

@line-height-large:              1.33;
@line-height-small:              1.5;

@border-radius-base:             4px;
@border-radius-large:            6px;
@border-radius-small:            3px;

@component-active-color:         #fff;
@component-active-bg:            @brand-primary;

@caret-width-base:               4px;
@caret-width-large:              5px;

// Site Specific Typography
// -------------------------

@font-size-body:					16px;
@block-title-plus:					ceil(@font-size-base * 3.125);  // 50px, 3.6em, 5.0rem
@block-title:						ceil(@font-size-base * 2.5); 	// 40px, 2.5em, 4.0rem
@block-subtitle-plus:				ceil(@font-size-base * 1.75); 	// 28px, 2.0em, 2.8rem
@block-subtitle:					ceil(@font-size-base * 1.25);
@block-subtitle-plus-margin-top:	ceil(@block-subtitle-plus / 4);
@block-subtitle-margin-top:			ceil(@block-subtitle / 1.5);
@block-header-plus-icon-font:		@block-title-plus + @block-subtitle-plus + (ceil(@block-subtitle-plus / 4)) - 2;
@block-header-icon-font:			@block-title + @block-subtitle + (ceil(@block-subtitle / 1.5)) - 2;
@lead:								ceil(@font-size-base * 1.5);
@top-navbar-level-01:				14px;
@top-navbar-level-02:				12px;
@sidebar-nav-caps:					ceil(@font-size-base * 1.2);
@sidebar-nav-section-links:			@font-size-body;