// BLOCKS - CALL TO ACTIONS
// --------------------------------------------------

/* cta_phone, cta_form, cta_button */
.cta_phone,
.cta_form,
.cta_button {
  &{
    text-align:left;
  }
  h3, h4 {
    text-align:left;
  }
  .cta-field {
    width:29%;
    float:left;
    margin-left:0;
    margin-right:7px;
    border:1px solid #eee;
  }
  .cta-submit {
    padding-top:7px;
  }
}

/* cta_form and contact_page_form */
.cta_form,
.contact_page_form {

	h3 {
		/*margin-bottom:30px;*/
		text-align:left;
	}

	input,
	textarea {
		border-radius:0;
		margin:0 5px;
	}

	cta-button {
		cursor:pointer;
	}

	input[type="submit"] {
		background:none;
		border:0;
		color:#666;;
		text-transform:uppercase;
		font-size:14px;
		line-height:2;
		vertical-align:middle;
		margin-top:2px;
	}

	input[type="submit"]:focus {
		outline:none;
	}

	i.fa {
		font-size:14px;
		vertical-align:middle;
		color:#666;
	}

	&.colored {
		input[type="submit"] {
			color:@white;
		}
		i.fa {
			color:@white;
		}
	}

}

/* cta_phone + cta_button */
.cta_phone,
.cta_button {

	.block-header {
		margin-bottom:ceil(@block-title / 2);
	}

}

/* contact_page_form */
.contact_page_form {
	.cta-field {
		margin:0 0 30px;

	}
	.row.contact-form-row {
		margin-bottom:0px;
	}
}

// MQ - CTA
// --------------------------------------------------

// max 1679px
// -------------------------------
@media (max-width: @screen-xl-max) {

	.cta_form {
		.cta-field {
		width:28%;
		}
	}

}

// max 1439px
// -------------------------------
@media (max-width: @screen-lg-max) {

	.cta_form {
		.cta-field {
		width:27%;
		}
	}

}

// max 1199px
// -------------------------------
@media (max-width: @screen-md-max) {

	.cta_form {
		.cta-field {
		width:29%;
		}
	}

}

// max 991px
// -------------------------------
@media (max-width: @screen-sm-max) {

	.cta_form {
		.cta-field {
		width:100%;
		margin:0 0 20px;
		}
	}

}