// BLOCKS - GLOBAL STYLES
// --------------------------------------------------

.block {
	& {
		width: 100%;
		height: auto;
		padding: 4% 0;
		overflow:hidden;
	}
	.block-full {
		margin-right: 0;
	}
	.block-container {
		padding-right: 0;
	}
	.block-header {
		height:100%;
	}
	h4 {
		letter-spacing:1.3px;
		font-weight:300;
	}
	h5 {
		letter-spacing:1px;
	}
	p {
		font-weight:300;
	}
	p:last-of-type {
		margin-bottom:0;
	}
	img.img-responsive {
		&:not(.icon) {
		min-width:100%;
		height:auto;
		}
	}
    .image-caption {
      font-style:italic;
      font-size:14px;
      //margin-top:-15px;
      margin-bottom:15px;
    }
} // .block

.block&.colored {
	& {
		background-image:none;
		color:#fff;
		position:relative;
	}
  &:before {
  	content: "";
		position: absolute;
		z-index: 90;
		width:100%;
		top:0;
		left:0;
		border-left: 3000px solid transparent;
		border-right: 0 solid transparent;
		border-bottom: 0 solid transparent;
		border-top: 60px solid rgba(255,255,255,0.2);
		display:block;
  }
  &:after {
  	content: "";
		position: absolute;
		z-index: 90;
		width:100%;
		bottom:0;
		right:0;
		border-right: 3000px solid transparent;
		border-left: 0 solid transparent;
		border-top: 0 solid transparent;
		border-bottom: 60px solid rgba(255,255,255,0.2);
		display:block;
  }
	h1,h2,h3,h4,h5,p,span,a {
		color:#fff;
	}
	h4 {
		font-weight:100;
	}
	p {
		font-weight:100;
	}
} // .block.colored

.block&.gray {
	& {
		background-image:none;
		background-color:@offwhiteBG02;
		position:relative;
	}
  &:before {
  	content: "";
		position: absolute;
		z-index: 90;
		width:100%;
		top:0;
		left:0;
		border-left: 3000px solid transparent;
		border-right: 0 solid transparent;
		border-bottom: 0 solid transparent;
		border-top: 60px solid rgba(0,0,0,0.2);
		display:block;
  }
  &:after {
  	content: "";
		position: absolute;
		z-index: 90;
		width:100%;
		bottom:0;
		right:0;
		border-right: 3000px solid transparent;
		border-left: 0 solid transparent;
		border-top: 0 solid transparent;
		border-bottom: 60px solid rgba(0,0,0,0.2);
		display:block;
  }
} // .block.gray

.block&.default {
	& {
		background-image:none;
		background-color:@offwhiteBG01;
		position:relative;
	}
  &:before {
  	content: "";
		position: absolute;
		z-index: 90;
		width:100%;
		top:0;
		left:0;
		border-left: 3000px solid transparent;
		border-right: 0 solid transparent;
		border-bottom: 0 solid transparent;
		border-top: 60px solid rgba(0,0,0,0.1);
		display:block;
  }
  &:after {
  	content: "";
		position: absolute;
		z-index: 90;
		width:100%;
		bottom:0;
		right:0;
		border-right: 3000px solid transparent;
		border-left: 0 solid transparent;
		border-top: 0 solid transparent;
		border-bottom: 60px solid rgba(0,0,0,0.1);
		display:block;
  }
} // .block.gray

.block {
	&.multi_block_first {
		padding-bottom: 40px;
	}
	&.multi_block_middle {
		padding-top: 10px;
		padding-bottom: 40px;
	}
	&.multi_block_end {
		padding-top: 10px;
	}
} // .block.multi_*