// BLOCKS - image_text_overlay
// --------------------------------------------------

/* image_text_overlay */

.image_text_overlay {
	& {

	}
	.row.block-full {
		padding:@block-title 0;
		background:rgba(255,255,255,0.7);
	}
	.text-overlay {
		margin-top:40px;
	}
	.lead {
		color:#666;
	}

}