// BLOCKS - MAP
// --------------------------------------------------

.map {

  & {
    height: 500px;
    padding:0;
  }

  .block-full, .block-container {
    height: inherit;
  }

  .google-map {
    height: 100%;
    width: 100%;
  }

}