// BLOCKS - TABLES
// --------------------------------------------------

.table_full_width,
.table_text_right,
.table_text_left {

	&.default {
		.table-striped {
			> tbody > tr:nth-child(odd) {
				> td,
				> th {
					background-color:#fefefe;
				}
			}
			> tbody > tr:nth-child(even) {
				> td,
				> th {
					background-color:#f9f9f9;
				}
			}
		} // table-striped
		.table > thead > tr > th,
		.table > tbody > tr > th,
		.table > tfoot > tr > th,
		.table > thead > tr > td,
		.table > tbody > tr > td,
		.table > tfoot > tr > td {
			border-color:#e9e9e9;
			font-weight:300;
		}
		.table > thead > tr {
			background:#e3e3e3;
			font-weight:600;
			color:#222;
			> th {
				font-weight:600;
			}
		}
		table {
			border:1px solid #eee;
		}
	} // default

	&.gray {
		.table-striped {
			> tbody > tr:nth-child(odd) {
				> td,
				> th {
					background-color:#fbfbfb;
				}
			}
			> tbody > tr:nth-child(even) {
				> td,
				> th {
					background-color:#f3f3f3;
				}
			}
		} // table-striped
		.table > thead > tr > th,
		.table > tbody > tr > th,
		.table > tfoot > tr > th,
		.table > thead > tr > td,
		.table > tbody > tr > td,
		.table > tfoot > tr > td {
			border-color:#e5e5e5;
			font-weight:300;
		}
		.table > thead > tr {
			background:#ddd;
			font-weight:600;
			color:#222;
			> th {
				font-weight:600;
			}
		}
		table {
			border:1px solid #eaeaea;
		}
	} // gray

	&.colored {
		.table-striped {
			> tbody > tr:nth-child(odd) {
				> td,
				> th {
					background-color:rgba(255,255,255,0.03);
				}
			}
			> tbody > tr:nth-child(even) {
				> td,
				> th {
					background-color:rgba(255,255,255,0.06);
				}
			}
		} // table-striped
		.table > thead > tr > th,
		.table > tbody > tr > th,
		.table > tfoot > tr > th,
		.table > thead > tr > td,
		.table > tbody > tr > td,
		.table > tfoot > tr > td {
			border-color:rgba(255,255,255,0.10);
			font-weight:300;
		}
		.table > thead > tr {
			background:rgba(0,0,0,0.15);
			font-weight:600;
			> th {
				font-weight:600;
			}
		}
		table {
			border:1px solid rgba(255,255,255,0.08);
		}
	} // colored

	/*
	.table > thead > tr,
	.table > tbody > tr,
	.table > tfoot > tr {
	  > td.active,
	  > th.active,
	  &.active > td,
	  &.active > th  {
	    background-color: @table-bg-active;
	  }
	}
	*/

}