// BLOCKS - text_super_banner
// --------------------------------------------------

/*
NOTE: The viewport/typography.less file contains the styles for the block header including:
block-icon
block-headline
lead
*/

.text_super_banner {

	& {
		padding-top:0;
	}

	.super-banner {
    	height: 200px;
		margin-bottom:4.75%;
		/*width:100.3%;*/
	}

	&:nth-of-type(1) {
		.block-header-plus {
			margin-bottom:0;
		}
		.lead {
			display:none;
		}
	}

}