// BLOCKS - text_3_images
// --------------------------------------------------

.text_3_images {

	.img-responsive {
		margin-bottom:10px;
	}

    .has-caption {
        img {
          margin-bottom:20px;
        }
        .image-caption {
          font-style:italic;
      //   min-height:25px;
          font-size:14px;
          margin-top:-15px;
          margin-bottom:15px;
        }
    }

    .no-caption {
      img {
        margin-bottom:35px;
      }
      .image-caption {
        display:none;
      }
    }

    &.default {
      .image-caption {
        color:#888;
      }
    }

    &.gray {
    .image-caption {
      color:@black;
    }
  }

}