// BLOCKS - text_super
// --------------------------------------------------

/*
NOTE: The viewport/typography.less file contains the styles for the block header including:
block-icon
block-headline
lead
*/

.text_super {

	&.colored,
	&.gray {
		.row.block-full {
			background-image:none;
		}
	}
	.row.block-full {
		background-image:url(../img/white-overlay-bkgd.png);
		background-repeat:repeat;
		padding:40px 0;
	}
	&:nth-of-type(1) {
		.block-header-plus {
			margin-bottom:0;
		}
		.lead {
			display:none;
		}
	}
	&:not(.backstretch) {
		.row.block-full {
			padding:0;
		}
	}

}