// BLOCKS - text_infos_matrix
// --------------------------------------------------

.text_infos_matrix  {
	h3 {
		margin-bottom:30px;
	}
	.row.details {
		letter-spacing:1px;
		color:#666;
	}
	.first-col p {
		font-weight: 600;
	}
}