// THEME - GENERAL
// --------------------------------------------------

.theme-bkgd {
	background-image:none;
	color:@white;
}

.colored .validation-error, .colored .validation-success {
  color:white !important;
}