// BUTTONS
// --------------------------------------------------

// BUTTON - minimalist button style
.block,
.market-overlay {
	.btn {
	  	border-radius:0;
	  	padding:0;
	}
	.btn-primary {
	  	background-color:transparent;
	  	border:none;
	  	color:@black;
	  	text-transform:uppercase;
	}
	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary:active,
	.btn-primary.active,
	.open .dropdown-toggle.btn-primary {
	  	background-color:transparent;
	  	border:none;
	  	color:@black;
	}
	.btn-primary:after {
		font-size:(@font-size-body / 1.25);
		font-family:@icon-font-name;
		content:"\F054";
		padding:0 0 0 15px;
		vertical-align:top;
		position:relative;
		top:2px;
	}
} // .block

.block&.colored {
	.btn-primary {
		background-color:transparent;
		color:@white;
	}
	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary:active,
	.btn-primary.active,
	.open .dropdown-toggle.btn-primary {
		background-color:transparent;
		border:none;
		color:@white;
	}
} // .block.colored

/*
// BUTTON - ordinary button style
.block {
	.btn {
	  border-radius:0;
	  padding-top:8px;
	}
	.btn-primary {
	  background-color:@black;
	  border-color:#222;
	  color:@white;
	}
	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary:active,
	.btn-primary.active,
	.open .dropdown-toggle.btn-primary {
	  background-color:#222;
	  border-color:@black;
	  color:@white;
	}
} // .block

.block&.colored {
	.btn-primary {
		background:@white;
		color:@black;
	}
	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary:active,
	.btn-primary.active,
	.open .dropdown-toggle.btn-primary {
		background-color:@black;
		border-color:#222;
		color:@white;
	}
} // /block.colored
*/