// CAROUSEL
// --------------------------------------------------

.carousel {
  .rsDefault {
    width: 100%;
    height: auto;
    &, & .rsOverflow, & .rsSlide, & .rsVideoFrameHolder, & .rsThumbs {
      background: transparent;
    }
    .rsArrowIcn {
      background: white;
    }

    .rsBullets {
      width: auto;
      position: absolute;
      bottom: 15px;
      right: 0;
      z-index: 35;
      height: auto;
      text-align:right;
      overflow: hidden;
      left: auto;
      background: transparent;

      .rsBullet {
        display: inline-block;
        padding-right: 5px;
        height: auto;
        width: auto;
        left: auto;

        span {
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: white;
        }

        &.rsNavSelected {
          span {
            background: red;
          }
        }

        &.last {
          padding-right: 10px;
        }

      } // rsBullet
    } // rsBullets
  } // rsDefault
} // carousel