// GLOBAL VIEWPORT STYLES
// --------------------------------------------------

html {
  height:100%;
}

body {
	position: relative;
  font-weight:100;
  height:100%;
  width:100%;
}

#wrap {
  margin-left:0;
  margin-right:0;
  margin-top:90px;
  margin-bottom:-90px;
  height:auto !important;
  min-height:100%;
  height:100%;
}

.push {
	height:90px;
}

.edit-icon {
  position:absolute;
  z-index:3;
  padding-left:25px;
  padding-top:25px;
}

#view-container {
  height: 100%;
  position: relative;
  width: 100%;
}

.block-header {
	height:100%;
}

.snap {
	display:none;
}

.bck-overlay {
  height: 100%;
  width: 100%;
  background: #000;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 101;
  opacity: 0.4;
  display: none;
}

// MQ - GLOBAL VIEWPORT
// --------------------------------------------------

// max 1439px
// -------------------------------
@media (max-width: @screen-lg-max) {

#wrap {
  margin-top:80px;
}

} // max 1439px

// max 1199px
// -------------------------------
@media (max-width: @screen-md-max) {

#wrap {
  margin-top:80px;
}

} // max 1199px

// max 991px
// -------------------------------
@media (max-width: @screen-sm-max) {

	/* WRAP */
	#wrap {
	 	margin-top: 0px;
	 	overflow: hidden;
	 } // wrap

  .bck-overlay {
    display:none !important;
  }

} // max 991px

// max 767px
// -------------------------------
@media (max-width: @screen-xs-max) {

} // max 767px

// max 479px
// -------------------------------
@media (max-width: @screen-xxs-max) {

} // max 479px

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {

	/* uses custom mixin to auto hyphenate words */
	* {
		.hyphens
	}

} // max 320px