// SITE FOOTER
// --------------------------------------------------

footer#site-footer {
	position:relative;
	z-index:100;
	border-top:5px solid @brownBG04;
  background-color:@brownBG03;
	text-transform:uppercase;
	min-height:90px;
  .container {
    width:100%;
    max-width: none;
    padding:20px 0px;
  }

  .nav > li > span {
    color:#eee;
    position: relative;
    display: block;
    padding: 10px 20px 10px 0;
    font-weight:300;
  }

  .nav > li > a {
    color:#eee;
    padding: 10px 0 10px 20px;
    font-weight:300;
  }

  .nav > li > a:hover {
    color:@white;
    background:none;
  }

}

// MQ
// --------------------------------------------------

// max 479px
@media (max-width: @screen-xxs-max) {

  #site-footer {
    .nav.pull-right {
      li {
        display:inline-block;
        width:200px;
        margin-left:0;
        a {
          padding-left:0;
          margin-left:0;
        }
      } // li
    } // nav
  } // site-footer

} // mq xxs