// SITE MAIN
// --------------------------------------------------
  #main {
		  #main-container {
				padding:0;
			  margin-left: 0;
				margin-right: 0;
				float:right;
			}
	  	.block-container {
			  float:right;
		  }
  }


// MQ - MAIN
// --------------------------------------------------

// max 1439px
// -------------------------------
@media (max-width: @screen-lg-max) {

  /* MAIN */
  #main {
    section.section {
      .block.first_block {
        &.text_super_banner {
          .block-row {
            .block-container {
              .super-banner {
                margin-bottom:6%;
                width:101%;
              }
            } // block-container
          } // block-row
        } // text_super_banner
      } // first_block
    } // section
  } // main

} // max 1439px

// max 1199px
// -------------------------------
@media (max-width: @screen-md-max) {

  /* MAIN */
  #main {
    section.section {
    	.block {
	    	.block-row {
		    	.block-container {
			    	float:none;
			    	.container {
				    	padding:0;
			    	}
		    	}
	    	}
    	}
      .block.first_block {
        &.text_super_banner {
          .block-row {
            .block-container {
              .super-banner {
                margin-bottom:4.5%;
              }
            } // block-container
          } // block-row
        } // text_super_banner
      } // first_block
    } // section
  } // main

} // max 1199px

// max 991px
// -------------------------------
@media (max-width: @screen-sm-max) {

	/* WRAP */
	#wrap {
	 	margin-top: 0px;
	 	overflow: hidden;
	 } // wrap

	/* MAIN */
	#main {
	 section.section {
	   position:relative;
	   top:-1px;
	   .block:not(.first_block) {
	     padding:6% 0;
	     &.multi_block_first {
	       padding-bottom:2%;
	     }
	     &.multi_block_end {
	       padding-top:2%;
	     }
	     .block-row {
	       .block-container {
	         .container {
	           //padding-left:0;
	           //padding-right:0;
	         }
	       } // block-container
	     } // block-row
	     p,
	     p:last-of-type{
	       margin-bottom:20px;
	     }
	     p.block-subtitle,
	     p.block-subtitle-plus {
	       margin-bottom:0;
	     }
	     table.table {
	       /*margin-top:30px;*/
	     }
	     &.text_image_right,
	     &.graph_text_left {
	       img.img-responsive:not(.icon) {
	         margin: 30px 0 0;
	       }
	     }
	     &.text_image_left,
	     &.graph_text_right {
	       img.img-responsive:not(.icon) {
	         margin: 0 0 30px;
	       }
	     }
	     &.text_3_images {
	       img.img-responsive:not(.icon).img-1 {
	         margin: 0 0 30px;
	       }
	       img.img-responsive:not(.icon).img-2 {
	         margin: 30px 0;
	       }
	       img.img-responsive:not(.icon).img-3 {
	         margin: 30px 0;
	       }
	     }
	   } // block
	   .block {

	     .image-caption {
	       height: auto !important;
	     }

	     &.text_super {
	       padding:10% 0;
	       .block-row {
	         .block-container {
	           .container {
	             padding-left:0;
	             padding-right:0;
	           }
	         } // block-container
	       } // block-row
	     }
	     &.text_super_banner {
	       padding:0 0 6%;
	       .block-row {
	         .block-container {
	           .super-banner {
	             margin-bottom:6.5%;
	           }
	           .container {
	             padding-left:0;
	             padding-right:0;
	           }
	         } // block-container
	       } // block-row
	     } // text_super_banner
	   } // block
	 } // section
	} // main

  .bck-overlay {
    display:none !important;
  }

} // max 991px

// max 767px
// -------------------------------
@media (max-width: @screen-xs-max) {

  /* MAIN */
  #main {
    section.section {
      .block {
        padding:8% 0;
        .block-row {
          .block-container {
            .container {
              padding-left:25px;
              padding-right:25px;
            }
          } // block-container
        } // block-row
      } // block
      .block {
        &.text_super {
          padding:10% 0;
          .block-row {
            .block-container {
              .container {
                padding-left:25px;
                padding-right:25px;
              }
            } // block-container
          } // block-row
        }
        &.text_super_banner {
          padding:0 0 8%;
          .block-row {
            .block-container {
              .super-banner {
                margin-bottom:9%;
              }
              .container {
                padding-left:25px;
                padding-right:25px;
              }
            } // block-container
          } // block-row
        } // text_super_banner
      } // block
    } // section
  } // main

} // max 767px

// max 479px
// -------------------------------
@media (max-width: @screen-xxs-max) {

  /* MAIN */
  #main {
    section.section {
      .block {
        padding:12% 0;
        .block-row {
          .block-container {
            .container {
              padding-left:25px;
              padding-right:25px;
            }
          } // block-container
        } // block-row
      } // block
      .block {
        &.text_super {
          padding:15% 0;
        }
        &.text_super_banner {
          padding:0 0 12%;
          .block-row {
            .block-container {
              .super-banner {
                margin-bottom:13%;
              }
              .container {
                padding-left:25px;
                padding-right:25px;
              }
            } // block-container
          } // block-row
        } // text_super_banner
      } // block
    } // section
  } // main

} // max 479px