// SITE SIDEBAR
// --------------------------------------------------

#sidebar-container {

	& {
	 position: fixed;
	 top: 0;
	 left: 0;
	 bottom:0;
	 padding-left: 0;
	 padding-right: 0;
	 z-index: 97;
	 overflow:hidden;
	 float:left;
	 clear:both;
  height:auto !important;
  min-height:100%;
  height:100%;
  background:@brownBG03;
  border-right:10px solid @brownBG04;
	}

	ul {
	 list-style: none;
	}

	a {
	 color: @dark-grey;
	}

	a:hover {
	 text-decoration:none;
	}

	#sidebar-content {

	 & {
	 	position:fixed;
	   height:100%;
	   text-align: left;
		 width:inherit !important;
		 background:@brownBG02 !important;
	 border-right:10px solid @brownBG04;
	 }
/*
	 .sidebar-content-wrap {
		 width:inherit;
	 }
*/
	 .sidebar-header {
		 /*padding:10px 0;*/
		 overflow:hidden;
		 //background-color:fadeout(@brownBG02,40%);
	 }

	 nav > ul {
	   margin:0;
        padding:0;
        text-indent:0;
        width:100%;
	 }

	 nav.breadcrumb-links {
	   > div {
	     text-transform:uppercase;
	     	text-transform:uppercase;
			 	letter-spacing:1px;
			 	padding:9px 0px 7px;
			 	//border-right:10px solid @brownBG03;
				a,
				span {
				  margin-left:30px;
				  display:inline-block;
				  color:@white;
				}
				a:hover {
				  color:#000;
				}
	   }
	   .bc-parent-1 {
	     background:@slateBG01;
	     color:@white;
	   }
	   .bc-parent-2 {
	     background:@slateBG02;
	     color:@white;
	   }
	   .bc-current {
		   background:@slateBG03;
	     color:@white;
	   }
	 } // breadcrumb-links

	 nav.section-links {
	   padding:20px 0 20px;
			ul.list-sections {
				> li {
					margin:7px 0 6px 30px;
					display:block;
					text-indent:0;
					padding:0;
					> a {
					color:@white;
					text-transform: uppercase;
					letter-spacing:1px;
					padding:0;
					}
					> a:hover {
					color:#000;
					}
					&.active > a {
					}
				} // li
			} // list-sections
			ul.list-related {
			  padding:0 0 0 15px;
			  margin:7px 0;
			  border-right:1px solid #ccc;
			  > li > a {
			    color:@white;
			  }
			  > li > a:hover {
			    color:#000;
			  }
			} // list-related
		} // section-links

    nav.sibling-links {
      ul.list-pages {
        padding:0;
        li {
          background:rgba(149,156,161,0.10);
          margin-bottom:1px;
        }
        a {
          text-transform:uppercase;
          letter-spacing:1px;
          padding:9px 0 7px;
          margin-left:30px;
          display:block;
          color:@white;
        }
        a:hover {
          color:#000;
        }
      } // list-page
    } // sibling-links

	} // sidebar-content
} // sidebar

  #arrow-top {
    display: none;
    bottom: 2%;
    position: fixed;
    right: 30px;
    font-size: 29px;
    color: #999;
    z-index: 99;
  }

// MQ - SIDEBAR
// --------------------------------------------------

// min 2000px and up
// -------------------------------
@media (min-width: @screen-xxxl-min) {
/*
	#sidebar-content {
		width:16.666666666666664% !important;
	}
	*/
}

// max 1999px
// -------------------------------
@media (max-width: @screen-xxl-max) {
/*
	#sidebar-content {
		width:25% !important;
	}
	*/
}

// max 1439px
// -------------------------------
@media (max-width: @screen-lg-max) {

} // max 1439px

// max 1199px
// -------------------------------
@media (max-width: @screen-md-max) {

  /* SIDEBAR */
  #sidebar {
    margin:0;
    z-index:3;
    position: relative;
    top:0px;
    width: 100%;
    cursor:pointer;
    min-height:40px;
    max-height:100%;
    height:auto !important;
    #navbar-header.navbar-header {
      width:100%;
      height:39px;
      a.navbar-toggle {
        /*float:none;*/
        width:100%;
        display:block;
        text-align:right;
        text-transform:uppercase;
        padding:0 30px;
        margin:0;
        font-size:13px;
        line-height:40px;
        font-weight:400;
        letter-spacing:1px;
        color:#999;
        height:40px;
        border:none;
        background:lighten(#f0f4f5,2%);
        border-top:1px solid darken(#F0F4F5,7%);
        border-bottom:1px solid darken(#F0F4F5,7%);
        &:hover,
        &:focus {
          background:lighten(#b2babf,20%);
          text-decoration:none;
          color:@black;
        }
        > span {
          &:before {
            font-family:@icon-font-name;
            content:"\F0C9";
            display:inline-block;
            margin-right:10px;
            vertical-align:middle;
          }
        }
      } // navbar-toggle
    } // navbar-header
    .navbar-collapse {
      padding:0;
      margin:0;
      max-height:100%;
      box-shadow:none;
      border:none;
      &.collapse {
        width:100%;
        display:none !important; /* counteract the Bootstrap imporant that makes this block too soon */
      }
      &.in {
        width:100%;
        overflow:visible;
      }
      &.collapsing {
	      height:auto !important;
	      width:100%;
      }
      #sidebar-container {
        width:100% !important;
        position:relative !important;
        border-right:none;
        #sidebar-content {
          position:relative !important;
          width:100%;
          padding-right:0;
          .sidebar-header {
	          display:none;
          }
          nav.breadcrumb-links {
            > div {
            }
          }
          nav.section-links {
            ul.list-sections {
              > li {
                > a {
                }
              }
            }
            ul.list-related {
            	margin:12px 0;
            	> li > a {
            	}
            }
          }
          nav.sibling-links {
            ul.list-pages {
              li {
                background:#f0f4f5;
                a {
                }
              }
            }
          }
        }
      } // sidebar-container
    } // navbar-collapse
  } // sidebar

} // max 1199px

// max 991px
// -------------------------------
@media (max-width: @screen-sm-max) {

    /* SIDEBAR */
    #sidebar {
      position:relative;
      top:-1px;
      margin-bottom:-1px;
      #navbar-header.navbar-header {
        a.navbar-toggle {
          text-align:center;
        } // navbar-toggle
      } // navbar-header
      .navbar-collapse {
        &.collapse {
        }
        &.in {
        }
        #sidebar-container {
          #sidebar-content {
            text-align:left;
            nav.breadcrumb-links {
              > div {
              a,
              span {
	              margin-left:30px;
              }
              }
            }
            nav.section-links {
              ul.list-sections {
                > li {
                	margin-left:30px;
                  > a {
                  }
                }
              }
              ul.list-related {
	              border-right:none;
	              border-left:1px solid #ccc;
	              padding:0 0 0 15px;
              }
            }
            nav.sibling-links {
              ul.list-pages {
                a {
                margin-left:30px;
                }
              }
            }
          }
        } // sidebar-container
      } // navbar-collapse
    } // sidebar

  .bck-overlay {
    display:none !important;
  }

} // max 991px

// max 767px
// -------------------------------
@media (max-width: @screen-xs-max) {

} // max 767px

// max 479px
// -------------------------------
@media (max-width: @screen-xxs-max) {

} // max 479px