// SITE HEADER
// --------------------------------------------------

header#site-header {
  .container {
    width:100%;
    max-width: none;
    padding:0 20px;
  }
  #navbar {
    &.navbar.navbar-default {
      z-index: 98;
      padding:0;
      border-radius: 0;
      margin-bottom: 0;
      min-height:40px;
      background-color:@brownBG03;
      border:0;
      //border-bottom:1px solid @slate;
      .navbar-header {
        /*
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 0;

        .navbar-brand {
          padding:0 15px 0 20px;
          .img-responsive {
            height: 70px;
            -webkit-transition: height 0.5s ease, width 0.5s ease;
            -moz-transition: height 0.5s ease, width 0.5s ease;
            -o-transition: height 0.5s ease, width 0.5s ease;
            transition: height 0.5s ease, width 0.5s ease;

          }
        } // navbar-brand
        */
        .navbar-toggle {
          display:none; /* IMPORTANT - hidden by default for non-mobile */
          height:40px;
          background:lighten(#f0f4f5,2%);
          border:none;
          border-top:1px solid darken(#F0F4F5,7%);
          border-bottom:1px solid darken(#F0F4F5,7%);
          float:none;
          margin:0;
          padding:0;
          position:relative;
          top:0;
          width:100%;
          border-radius:0;
          cursor:pointer;
          text-align:center;
          text-transform:uppercase;
          letter-spacing:1px;
          font-size:13px;
          line-height:40px;
          font-weight:400;
          color:#999;
          &.collapsed {
            background:lighten(#f0f4f5,2%);
            color:#999;
          }
          &:hover,
          &:focus {
            background:lighten(#b2babf,20%);
            color:@black;
            text-decoration:none;
          }
          > span {
            &:before {
              font-family:@icon-font-name;
              content:"\F0C9";
              display:inline-block;
              margin-right:10px;
              vertical-align:middle;
            }
          }
        } // navbar-toggle
      } // navbar-header
      .navbar-collapse {
        padding-right:0;
        .navbar-nav {
          float:right; /* Had to add an important to the bs-override.less file */
          padding-top: 0px;
          -webkit-transition: padding 0.5s ease;
          -moz-transition: padding 0.5s ease;
          -o-transition: padding 0.5s ease;
          transition: padding 0.5s ease;
          li {
            a {
              outline: 0;
              text-transform: uppercase;
              padding:45px 15px 31px;
              line-height:14px;
              border-left:1px solid transparent;
              border-right:1px solid transparent;
              color:@slateBG00;
              letter-spacing:0.4px;
              width:auto;
              margin:0 20px;
              &:hover {
                color:@white;
              }
            }
            &.active {
              a {
                color:@white;
                position:relative;
                background-color:fadeout(@white,90%);
                &:before {
                	content: "";
									bottom: 0px;
									position: absolute;
									z-index: 10000;
									width:10px;
									left: 101%;
									border-left: 10px solid fadeout(@white,95%);
									border-right: 5px solid transparent;
									border-bottom: 0px solid transparent;
									border-top: @navbar-height solid transparent;
                }
                &:after {
                	content: "";
									top: 0px;
									position: absolute;
									z-index: 10000;
									width:10px;
	                right: 101%;
									border-left: 5px solid transparent;
									border-right: 10px solid fadeout(@white,95%);
									border-bottom: @navbar-height solid transparent;
									border-top: 0px solid transparent;
                }
              }
            }
            &.dropdown {
              > a .caret {
                margin-top:-3px;
              }
              &.open {
                a, a:hover, a:focus {
                  background:lighten(#f0f4f5,2%);
                  color:@white;
                  border-left:1px solid #eee;
                  border-right:1px solid #eee;
                  z-index:101;
                  background-clip: padding-box;
                  font-weight:400;
                }
              } // open
              &.active {
              } // active
              &.sub-active {
              } // sub-active
              > .dropdown-menu {
                font-size: 14px;
                background-color:lighten(#f0f4f5,2%);
                border: none;
                border-radius: 0px;
                margin:0;
                margin-top:-1px;
                padding:0;
                z-index:1;
                background-clip: padding-box;
                float:none;
                position:relative;
                box-shadow:none;
                //display:none; /* IMPORTANT - non-mobile default uses a custom non-Bootstrap dropdown */
                > li {
                  > a {
                    font-size:12px;
                    padding:7px 20px;
                    color:#999;
                    text-decoration:none;
                    border-bottom:1px solid #fff;
                  }
                  > a:hover, a:focus {
                    background-color:transparent;
                    color:@black;
                    text-decoration:none;
                  }
                  &.selected {
                    a {
                      color:@black;
                    }
                  }
                }
              } // dropdown-menu
            } // dropdown
            &#search-icon {
              a {
                padding-right:0;
                font-size:12px;
                margin-top:-2px;
                float:left;
              }
            } // search-icon
          } // li
        } // nabar-nav
        &.navbar-collapse-target {
        } // &.navbar-collapse-target
        &.in {
          overflow:visible;
        } // &.in
      } // navbar-collapse
    } // navbar.navbar-default
  } // navbar
} // site-header

// MQ - SITE HEADER
// --------------------------------------------------

// max 991px
// -------------------------------
@media (max-width: @screen-sm-max) {

  header#site-header {
    #navbar {
      position:relative;
      border-bottom:0;
      .container {
        padding: 0;
      }
      &.navbar.navbar-default {
        border:none;
        min-height:30px;
        .navbar-header {
          padding-bottom:0;
          margin-left: 0;
          margin-right: 0;
          .navbar-brand {
            float:none;
            display:block;
            height:auto;
            width:100%;
            min-height:30px;
            padding:0 0 20px 0;
            .img-responsive {
              height: 60px;
              margin:auto;
              -webkit-transition: height 0.5s ease, width 0.5s ease;
              -moz-transition: height 0.5s ease, width 0.5s ease;
              -o-transition: height 0.5s ease, width 0.5s ease;
              transition: height 0.5s ease, width 0.5s ease;
            }
          } // navbar-brand
          .navbar-toggle {
            display:block;
          } // navbar-toggle
        } // navbar-header
        .navbar-collapse {
          max-height:100%;
          padding:0;
          border:none;
          margin-left: 0;
          margin-right: 0;
          .navbar-nav {
            float:none;
            width:100%;
            margin:0;
            li {
              a {
                padding:15px 30px;
                margin:0 5px;
              }
              &.active {
	              a:before {
		              border-top: (@navbar-height - 10px) solid transparent;
		              border-left: 5px solid @brownBG03;
	              }
	              a:after {
		              border-bottom: (@navbar-height - 10px) solid transparent;
		              border-right: 5px solid @brownBG03;
	              }
              }
              > .dropdown-menu {
              }
              &.dropdown {
                &.open {
                  > a, a:hover, a:focus {
                    background:darken(#f0f4f5,2%);
                    border-bottom:1px solid #fff;
                  }
                  > .dropdown-menu {
                    display:block;
                    > li > a {
                      padding:12px 45px;
                    }
                  }
                } // open
              } // dropdown
              &#search-icon {
                display:block;
                padding:0 30px;
                width:100%;
                height:40px;
                form {
                  display:block;
                  width:auto;
                  height:40px;
                }
                input {
                  display:inline !important;
                  margin:15px 0;
                  width:94%;
                  padding-left: 0;
                  padding-bottom: 4px;
                }
                a {
                  float:right;
                  padding-left:1% !important;
                  padding-right:0 !important;
                  padding-top:22px !important;
                  padding-bottom:15px !important;
                  width:4%;
                  i {
                    text-align:center;
                  }
                }
              } // search-icon
            } // li
          } // nabar-nav
          &.navbar-collapse-target {
            float:none;
            padding-left:0;
            border:0;
          } // &.navbar-collapse-target
          &.in {
            overflow-y:visible;
            border-bottom:1px solid darken(#F0F4F5,7%);
          } // &.in
        } // navbar-collapse
      } // navbar.navbar-default
    } // navbar
  } // site-header

} // max 991px