// TYPOGRAPHY
// --------------------------------------------------

// 	PROXIMA NOVA FONT
// -------------------------
// 	weight		variation
// 	100			thin
// 	200			n/a
// 	300			light
// 	400			regular
// 	500			n/a
// 	600			semibold
// 	700			bold

body {
	font-size:@font-size-body;
}
p {
	margin: 0 0 (@line-height-computed);
}

h4 {
	margin-top:0;
	font-weight:600; /* semibold */
}
h5 {
	margin-top:0;
	font-weight:600; /* semibold */
}
h6 {
	margin-top:0;
	font-weight:600; /* semibold */
}

.block-icon {
	float:left;
	width:auto;
	.icon {
		height:auto;
		width:auto;
		margin:0;
		font-size:85px;
		position:relative;
		top:-5px;
		vertical-align:top;
		padding:0;
	}
}

.block-headline {
	float:left;
	width:auto;
	height:auto;
}

.block-header-plus {
	margin-bottom:ceil(@block-title-plus / 2);
	.block-icon {
		margin-right:2%;
		.icon { /* ((50 + 28 + 7) - (@font-size-base - 1)) = 70 [ if font-size-base = 16 ] */
			height:ceil((@block-title-plus + @block-subtitle-plus + @block-subtitle-plus-margin-top) - (@font-size-base - 1));
			font-size:85px;
		}
	}
	.block-icon-font {
		.icon {
			height:auto;
		}
		.icon:before {
			font-size:@block-header-plus-icon-font;
		}
	}
}

.block-header {
	margin-bottom:ceil(@block-title / 1.2);
	.block-icon {
		margin-right:2%;
		.icon { /* ((40 + 20 + 14) - (@font-size-base / 2)) = 66 [ if font-size-base = 16 ] */
			height:ceil((@block-title + @block-subtitle + @block-subtitle-margin-top) - (@font-size-base / 2));
		}
	}
	.block-icon-font {
		.icon {
			height:auto;
		}
		.icon:before {
			font-size:@block-header-icon-font;
		}
	}
}

h1,
h2,
.block-title-plus {
	font-size:@block-title-plus; /* 50px if font-size-base = 16  */
	font-weight:700; /* bold */
	line-height:0.95;
	letter-spacing:2px;
	text-transform:uppercase;
	margin:-5px 0 0;
	padding:0;
}

.block-subtitle-plus {
	font-size:@block-subtitle-plus; /* 28px if font-size-base = 16  */
	font-weight:300; /* light */
	line-height:0.95;
	letter-spacing:1.5px;
	text-transform:uppercase;
	margin:0;
	margin-top:@block-subtitle-plus-margin-top;
	padding:0;
}

h3,
h2.block-title,
.block-title {
	font-size:@block-title; /* 40px if font-size-base = 16 */
	font-weight:600; /* semibold */
	line-height:0.95;
	letter-spacing:1.5px;
	text-transform:uppercase;
	margin: -4px 0 0;
	padding:0;
}

.block-subtitle {
	font-size:@block-subtitle; /* 20px if font-size-base = 16 */
	font-weight:100; /* thin */
	line-height:1.2;
	letter-spacing:1.5px;
	text-transform:uppercase;
	margin:0;
	margin-top:@block-subtitle-margin-top;
	padding:0;
}

.lead {
	font-size:@lead;
	font-weight:400; /* regular */
	line-height:1.3;
	margin:0;
}

.panel-title,
.link-list-item {
	font-size:@font-size-body;
	font-weight:300; /* light */
}

.website-brand-wrap {
	margin:0;
	padding:10px 0;
	.website-brand { /* the website logo */
		padding:0 15px 0 20px;
		.img-responsive {
			height: 70px;
			-webkit-transition: height 0.5s ease, width 0.5s ease;
			-moz-transition: height 0.5s ease, width 0.5s ease;
			-o-transition: height 0.5s ease, width 0.5s ease;
			transition: height 0.5s ease, width 0.5s ease;
		}
	}
}

header#site-header {
	#navbar.navbar.navbar-default {
		.navbar-collapse .navbar-nav li {
			a {
				font-size:@top-navbar-level-01; /* 14px */
				font-weight:400;
				line-height:@top-navbar-level-01;
				letter-spacing:0.4px;
				padding:45px 20px 31px;
			}
			&.dropdown > .dropdown-menu > li > a {
				font-size:@top-navbar-level-02; /* 12px */
				font-weight:400;
				line-height:@top-navbar-level-02;
			}
			&#search-icon a {
				font-size:@top-navbar-level-02;
			}
		}
	}
}

#sidebar-container {
	//top:-@navbar-height;
	#sidebar-content {
		nav:not(.section-links) {
			a,
			span {
				font-size:@sidebar-nav-caps;
				font-weight:300;
				line-height:@sidebar-nav-caps + 4;
			}
		}
		nav.section-links {
			ul.list-sections > li a {
				font-size:@sidebar-nav-section-links;
				font-weight:400;
				line-height:@sidebar-nav-section-links + 2;
			}
			ul.list-related > li a {
				line-height:@sidebar-nav-section-links * 2;
				font-weight:300;
			}
		}
	}
}

// 2000px and up
// -------------------------------
@media (min-width: @screen-xxxl-min) {
	@font-size-body:16px;
	@font-size-base:16px;
	body {
		font-size:@font-size-body;
	}
	p {
		margin: 0 0 (@line-height-computed);
	}
	.block-header-plus {
		margin-bottom:ceil(@block-title-plus / 1.5);
	}
	.block-header {
		margin-bottom:@block-title;
	}
	h1,
	h2,
	.block-title-plus {
		font-size:@block-title-plus;
	}
	.block-subtitle-plus {
		font-size:@block-subtitle-plus;
		margin-top:@block-subtitle-plus-margin-top;
	}
	h3,
	h2.block-title,
	.block-title {
		font-size:@block-title;
	}
	.block-subtitle {
		font-size:@block-subtitle;
		margin-top:@block-subtitle-margin-top;
	}
	.lead {
		font-size:@lead;
	}
	.panel-title,
	.link-list-item {
		font-size:@font-size-body;
	}
	#sidebar-container #sidebar-content {
		nav:not(.section-links) {
			a,
			span {
				font-size:@sidebar-nav-caps;
			}
		}
		nav.section-links {
			ul.list-sections > li a {
				font-size:@sidebar-nav-section-links;
			}
		}
	}
} // 2000px and up

// 1680px to 1999px
// -------------------------------
@media (min-width: @screen-xxl-min) and (max-width: @screen-xxl-max) {
	@font-size-body:15px;
	@font-size-base:14px;
	body {
		font-size:@font-size-body;
	}
	p {
		margin: 0 0 (@line-height-computed);
	}
	.block-header-plus {
		margin-bottom:ceil(@block-title-plus / 1.5);
		.block-icon {
			margin-right:2%;
			.icon {
				height:ceil((@block-title-plus + @block-subtitle-plus + @block-subtitle-plus-margin-top) - (@font-size-base - 1));
				/*height:63px;*/
				font-size:78px;
			}
		} // block-icon
		.block-icon-font {
			.icon:before {
				font-size:@block-header-plus-icon-font;
			}
		}
	}
	.block-header {
		margin-bottom:@block-title;
		.block-icon {
			margin-right:3%;
			.icon {
				height:ceil((@block-title + @block-subtitle + @block-subtitle-margin-top) - (@font-size-base / 2));
				/*height:58px*/
			}
		}
		.block-icon-font {
			.icon:before {
				font-size:@block-header-icon-font;
			}
		}
	}
	h1,
	h2,
	.block-title-plus {
		font-size:@block-title-plus;
		margin-top:-4px;
	}
	.block-subtitle-plus {
		font-size:@block-subtitle-plus;
		margin-top:@block-subtitle-plus-margin-top;
	}
	h3,
	h2.block-title,
	.block-title {
		font-size:@block-title;
		margin-top:-3px;
	}
	.block-subtitle {
		font-size:@block-subtitle;
		margin-top:@block-subtitle-margin-top;
	}
	.lead {
		font-size:@lead;
	}
	.panel-title,
	.link-list-item {
		font-size:@font-size-body;
	}
	#sidebar-container #sidebar-content {
		nav:not(.section-links) {
			a,
			span {
				font-size:@sidebar-nav-caps;
			}
		}
		nav.section-links {
			ul.list-sections > li a {
				font-size:@sidebar-nav-section-links;
			}
		}
	}
} // 1680px to 1999px

// 1440 to 1679px
// -------------------------------
@media (min-width: @screen-xl-min) and (max-width: @screen-xl-max) {
	@font-size-body:14px;
	@font-size-base:13px;
	body {
		font-size:@font-size-body;
	}
	p {
		margin: 0 0 (@line-height-computed);
	}
	.block-header-plus {
		margin-bottom:ceil(@block-title-plus / 1.5);
		.block-icon {
			margin-right:3%;
			.icon {
				height:ceil((@block-title-plus + @block-subtitle-plus + @block-subtitle-plus-margin-top) - (@font-size-base - 1));
				/*height:58px;*/
				font-size:70px;
			}
		} // block-icon
		.block-icon-font {
			.icon:before {
				font-size:@block-header-plus-icon-font;
			}
		}
	}
	.block-header {
		margin-bottom:@block-title;
		.block-icon {
			margin-right:3%;
			.icon {
				height:ceil((@block-title + @block-subtitle + @block-subtitle-margin-top) - (@font-size-base / 2));
				/*height:56px;*/
			}
		}
		.block-icon-font {
			.icon:before {
				font-size:@block-header-icon-font;
			}
		}
	}
	h1,
	h2,
	.block-title-plus {
		font-size:@block-title-plus;
		margin-top:-4px;
	}
	.block-subtitle-plus {
		font-size:@block-subtitle-plus;
		margin-top:@block-subtitle-plus-margin-top;
	}
	h3,
	h2.block-title,
	.block-title {
		font-size:@block-title;
		margin-top:-3px;
	}
	.block-subtitle {
		font-size:@block-subtitle;
		margin-top:@block-subtitle-margin-top;
	}
	.lead {
		font-size:@lead;
	}
	.panel-title,
	.link-list-item {
		font-size:@font-size-body;
	}
	#sidebar-container #sidebar-content {
		nav:not(.section-links) {
			a,
			span {
				font-size:@sidebar-nav-caps;
			}
		}
		nav.section-links {
			ul.list-sections > li a {
				font-size:@sidebar-nav-section-links;
			}
		}
	}
} // 1440 to 1679px

// 1200px to 1439px
// -------------------------------
@media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
	@font-size-body:14px;
	@font-size-base:13px;
	@navbar-height:80px;
	body {
		font-size:@font-size-body;
	}
	p {
		margin: 0 0 (@line-height-computed);
	}
	.block-header-plus {
		margin-bottom:ceil(@block-title-plus / 1.5);
		.block-icon {
			margin-right:3%;
			.icon {
				height:ceil((@block-title-plus + @block-subtitle-plus + @block-subtitle-plus-margin-top) - (@font-size-base - 1));
				/*height:58px;*/
				font-size:70px;
			}
		} // block-icon
		.block-icon-font {
			.icon:before {
				font-size:@block-header-plus-icon-font;
			}
		}
	}
	.block-header {
		margin-bottom:@block-title;
		.block-icon {
			margin-right:3%;
			.icon {
				height:ceil((@block-title + @block-subtitle + @block-subtitle-margin-top) - (@font-size-base / 2));
				/*height:56px;*/
			}
		}
		.block-icon-font {
			.icon:before {
				font-size:@block-header-icon-font;
			}
		}
	}
	h1,
	h2,
	.block-title-plus {
		font-size:@block-title-plus;
		margin-top:-4px;
	}
	.block-subtitle-plus {
		font-size:@block-subtitle-plus;
		margin-top:@block-subtitle-plus-margin-top;
	}
	h3,
	h2.block-title,
	.block-title {
		font-size:@block-title;
		margin-top:-3px;
	}
	.block-subtitle {
		font-size:@block-subtitle;
		margin-top:@block-subtitle-margin-top;
	}
	.lead {
		font-size:@lead;
	}
	.panel-title,
	.link-list-item {
		font-size:@font-size-body;
	}
	.website-brand-wrap {
		.website-brand { /* the website logo */
			.img-responsive {
				height: 60px;
			}
		}
	}
	header#site-header {
		#navbar.navbar.navbar-default {
			.navbar-collapse .navbar-nav li {
				a {
					font-size:@top-navbar-level-01 - 1;
					padding:40px 12px 26px; /* narrow the width of the navbar links */
				}
        &.active {
          a {
            &:before {
							border-top: @navbar-height solid transparent;
            }
            &:after {
							border-bottom: @navbar-height solid transparent;
            }
          }
        }
				&#search-icon a {
					font-size:@top-navbar-level-02 - 1;
				}
			}
		}
	}
	#sidebar-container {
		//top:-@navbar-height;
		#sidebar-content {
			nav:not(.section-links) {
				a,
				span {
					font-size:@sidebar-nav-caps;
				}
			}
			nav.section-links {
				ul.list-sections > li a {
					font-size:@sidebar-nav-section-links;
				}
			}
		}
	}

} // 1200px to 1439px

// 992px to 1199px
// -------------------------------
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	@font-size-body:14px;
	@font-size-base:12px;
	@navbar-height:80px;
	body {
		font-size:@font-size-body;
	}
	p {
		margin: 0 0 (@line-height-computed);
	}
	.block-header-plus {
		margin-bottom:ceil(@block-title-plus / 1.5);
		.block-icon {
			margin-right:3%;
			.icon {
				height:ceil((@block-title-plus + @block-subtitle-plus + @block-subtitle-plus-margin-top) - (@font-size-base - 1));
				/*height:54px;*/
				font-size:67px;
			}
		} // block-icon
		.block-icon-font {
			.icon:before {
				font-size:@block-header-plus-icon-font;
			}
		}
	}
	.block-header {
		margin-bottom:@block-title;
		.block-icon {
			margin-right:3%;
			.icon {
				height:ceil((@block-title + @block-subtitle + @block-subtitle-margin-top) - (@font-size-base / 2));
				/*height:49px;*/
			}
		}
		.block-icon-font {
			.icon:before {
				font-size:@block-header-icon-font;
			}
		}
	}
	h1,
	h2,
	.block-title-plus {
		font-size:@block-title-plus;
		margin-top:-4px;
	}
	.block-subtitle-plus {
		font-size:@block-subtitle-plus;
		margin-top:@block-subtitle-plus-margin-top;
	}
	h3,
	h2.block-title,
	.block-title {
		font-size:@block-title;
		margin-top:-2px;
	}
	.block-subtitle {
		font-size:@block-subtitle;
		margin-top:@block-subtitle-margin-top;
	}
	.lead {
		font-size:@lead;
	}
	.panel-title,
	.link-list-item {
		font-size:@font-size-body;
	}
	.website-brand-wrap {
		padding:15px 0;
		.website-brand { /* the website logo */
				.img-responsive {
				height: 50px;
			}
		}
	}
	header#site-header {
		#navbar.navbar.navbar-default {
			.container {
				padding-left:10px;
				padding-right:10px;
				.navbar-header {
					/*padding-top:15px;
					padding-bottom:15px;*/
				}
			}
			.navbar-collapse .navbar-nav li {
				a {
					font-size:@top-navbar-level-01 - 1;
					padding:40px 5px 26px; /* reduce the width and height of the navbar links */
					margin:0 15px;
				}
        &.active {
          a {
            &:before {
							border-top: @navbar-height solid transparent;
            }
            &:after {
							border-bottom: @navbar-height solid transparent;
            }
          }
        }
				&#search-icon a {
					font-size:@top-navbar-level-02 - 1;
				}
			}
		}
	}
	#sidebar-container {
		top:0;
		position:relative;
		#sidebar-content {
			nav:not(.section-links) {
				a,
				span {
					font-size:@sidebar-nav-caps;
				}
			}
			nav.section-links {
				ul.list-sections > li a {
					font-size:@sidebar-nav-section-links - 1;
					line-height:@sidebar-nav-section-links * 2.25;
				}
				ul.list-related > li a {
					font-size:@sidebar-nav-section-links;
					line-height:@sidebar-nav-section-links * 2.75;
				}
			}
		}
	}
} // 992px to 1199px

// 768px to 991px
// -------------------------------
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	@font-size-body:14px;
	@font-size-base:11px;
	body {
		font-size:@font-size-body;
	}
	p {
		margin: 0 0 (@line-height-computed);
	}
	.block-header-plus {
		margin-bottom:ceil(@block-title-plus / 1.5);
		.block-icon {
			margin-right:4%;
			.icon {
				height:ceil((@block-title-plus + @block-subtitle-plus + @block-subtitle-plus-margin-top) - (@font-size-base - 2));
				/*height:51px;*/
				font-size:63px;
			}
		} // block-icon
		.block-icon-font {
			.icon:before {
				font-size:@block-header-plus-icon-font;
			}
		}
		.block-headline {
			width:85%;
		} // block-headline
	}
	.block-header {
		margin-bottom:@block-title;
		.block-icon {
			margin-right:3%;
			.icon {
				height:ceil((@block-title + @block-subtitle + @block-subtitle-margin-top) - (@font-size-base / 2));
				/*height:47px;*/
			}
		}
		.block-icon-font {
			.icon:before {
				font-size:@block-header-icon-font;
			}
		}
	}
	h1,
	h2,
	.block-title-plus {
		font-size:@block-title-plus;
		margin-top:-3px;
	}
	.block-subtitle-plus {
		font-size:@block-subtitle-plus;
		margin-top:@block-subtitle-plus-margin-top;
	}
	h3,
	h2.block-title,
	.block-title {
		font-size:@block-title;
		margin-top:-2px;
	}
	.block-subtitle {
		font-size:@block-subtitle;
		margin-top:@block-subtitle-margin-top;
	}
	.lead {
		font-size:@lead;
	}
	.panel-title,
	.link-list-item {
		font-size:@font-size-body;
	}
	.website-brand-wrap {
		padding:15px 0 0;
		.website-brand { /* the website logo */
				.img-responsive {
				height: 50px;
			}
		}
	}
	header#site-header {
		#navbar.navbar.navbar-default {
			.navbar-collapse .navbar-nav li {
				a {
					font-size:@top-navbar-level-01 - 1;
				}
				&#search-icon a {
					font-size:@top-navbar-level-02 - 1;
				}
			}
		}
	}
	#sidebar-container {
		top:0;
		position:relative;
		#sidebar-content {
			nav:not(.section-links) {
				a,
				span {
					font-size:@sidebar-nav-caps;
				}
			}
			nav.section-links {
				ul.list-sections > li a {
					font-size:@sidebar-nav-section-links - 1;
					line-height:@sidebar-nav-section-links * 2.25;
				}
				ul.list-related > li a {
					font-size:@sidebar-nav-section-links;
					line-height:@sidebar-nav-section-links * 2.75;
				}
			}
		}
	}
	.alert {
		ul {
			padding-left:0;
		}
	}
} // 768px to 991px

// 480px to 767px
// -------------------------------
@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
	@font-size-body:14px;
	@font-size-base:11px;
	body {
		font-size:@font-size-body;
	}
	p {
		margin: 0 0 (@line-height-computed);
	}
	.block-header-plus {
		margin-bottom:ceil(@block-title-plus / 1.5);
		.block-icon {
			margin:0 0 20px 0;
			float:none;
			width:100%;
			.icon {
				height:ceil((@block-title-plus + @block-subtitle-plus + @block-subtitle-plus-margin-top) - (@font-size-base - 2));
				/*height:51px;*/
				font-size:63px;
			}
		} // block-icon
		.block-icon-font {
			.icon:before {
				font-size:@block-header-plus-icon-font;
			}
		}
		.block-headline {
			float:none;
			width:100%;
		} // block-headline
	}
	.block-header {
		margin-bottom:@block-title;
		.block-icon {
			margin:0 0 20px 0;
			float:none;
			width:100%;
			.icon {
				height:ceil((@block-title + @block-subtitle + @block-subtitle-margin-top) - (@font-size-base / 2));
				/*height:47px;*/
			}
		}
		.block-icon-font {
			.icon:before {
				font-size:@block-header-icon-font;
			}
		}
	}
	h1,
	h2,
	.block-title-plus {
		font-size:@block-title-plus;
		margin-top:-3px;
	}
	.block-subtitle-plus {
		font-size:@block-subtitle-plus;
		margin-top:@block-subtitle-plus-margin-top;
	}
	h3,
	h2.block-title,
	.block-title {
		font-size:@block-title;
		margin-top:-2px;
	}
	.block-subtitle {
		font-size:@block-subtitle;
		margin-top:@block-subtitle-margin-top;
	}
	.lead {
		font-size:@lead;
	}
	.panel-title,
	.link-list-item {
		font-size:@font-size-body;
	}
	.website-brand-wrap {
		padding:15px 0 0;
		.website-brand { /* the website logo */
				.img-responsive {
				height: 50px;
			}
		}
	}
	header#site-header {
		#navbar.navbar.navbar-default {
			.navbar-collapse .navbar-nav li {
				a {
					font-size:@top-navbar-level-01 - 1;
				}
				&#search-icon a {
					font-size:@top-navbar-level-02 - 1;
				}
			}
		}
	}
	#sidebar-container #sidebar-content {
		nav:not(.section-links) {
			a,
			span {
				font-size:@sidebar-nav-caps;
			}
		}
		nav.section-links {
			ul.list-sections > li a {
				font-size:@sidebar-nav-section-links - 1;
				line-height:@sidebar-nav-section-links * 2.25;
			}
			ul.list-related > li a {
				font-size:@sidebar-nav-section-links;
				line-height:@sidebar-nav-section-links * 2.75;
			}
		}
	}
	.alert {
		ul {
			padding-left:0;
		}
	}
} // 480px to 767px

// 479px and lower
// -------------------------------
@media (max-width: @screen-xxs-max) {
	@font-size-body:14px;
	@font-size-base:11px;
	body {
		font-size:@font-size-body;
	}
	p {
		margin: 0 0 (@line-height-computed);
	}
	.block-header-plus {
		margin-bottom:ceil(@block-title-plus / 1.5);
		.block-icon {
			margin:0 0 20px 0;
			float:none;
			width:100%;
			.icon {
				height:ceil((@block-title-plus + @block-subtitle-plus + @block-subtitle-plus-margin-top) - (@font-size-base - 2));
				/*height:51px;*/
				font-size:63px;
			}
		} // block-icon
		.block-icon-font {
			.icon:before {
				font-size:@block-header-plus-icon-font;
			}
		}
		.block-headline {
			float:none;
			width:100%;
		} // block-headline
	}
	.block-header {
		margin-bottom:@block-title;
		.block-icon {
			margin:0 0 20px 0;
			float:none;
			width:100%;
			.icon {
				height:ceil((@block-title + @block-subtitle + @block-subtitle-margin-top) - (@font-size-base / 2));
				/*height:47px;*/
			}
		}
		.block-icon-font {
			.icon:before {
				font-size:@block-header-icon-font;
			}
		}
	}
	h1,
	h2,
	.block-title-plus {
		font-size:@block-title-plus;
		margin-top:-3px;
	}
	.block-subtitle-plus {
		font-size:@block-subtitle-plus;
		margin-top:@block-subtitle-plus-margin-top;
	}
	h3,
	h2.block-title,
	.block-title {
		font-size:@block-title;
	}
	.block-subtitle {
		font-size:@block-subtitle;
		margin-top:@block-subtitle-margin-top;
		margin-top:-2px;
	}
	.lead {
		font-size:@lead;
	}
	.panel-title,
	.link-list-item {
		font-size:@font-size-body;
	}
	.website-brand-wrap {
		padding:15px 0 0;
		.website-brand { /* the website logo */
				.img-responsive {
				height: 50px;
			}
		}
	}
	header#site-header {
		#navbar.navbar.navbar-default {
			.navbar-collapse .navbar-nav li {
				a {
					font-size:@top-navbar-level-01 - 1;
				}
				&#search-icon a {
					font-size:@top-navbar-level-02 - 1;
				}
			}
		}
	}
	#sidebar-container #sidebar-content {
		nav:not(.section-links) {
			a,
			span {
				font-size:@sidebar-nav-caps;
			}
		}
		nav.section-links {
			ul.list-sections > li a {
				font-size:@sidebar-nav-section-links - 1;
				line-height:@sidebar-nav-section-links * 2.25;
			}
			ul.list-related > li a {
				font-size:@sidebar-nav-section-links;
				line-height:@sidebar-nav-section-links * 2.75;
			}
		}
	}
	.alert {
		ul {
			padding-left:0;
		}
	}
} // 479px and lower

// 900px and shorter
// -------------------------------
@media (max-height: @screen-md-height) {
	@font-size-body:14px;
	@font-size-base:11px;
	body {
		font-size:@font-size-body;
	}
	p {
		margin: 0 0 (@line-height-computed);
	}
	.block-header-plus {
		margin-bottom:ceil(@block-title-plus / 1.5);
		.block-icon {
			.icon {
				height:ceil((@block-title-plus + @block-subtitle-plus + @block-subtitle-plus-margin-top) - (@font-size-base - 2));
				/*height:51px;*/
				font-size:63px;
			}
		} // block-icon
		.block-icon-font {
			.icon:before {
				font-size:@block-header-plus-icon-font;
			}
		}
	}
	.block-header {
		margin-bottom:@block-title;
		.block-icon {
			.icon {
				height:ceil((@block-title + @block-subtitle + @block-subtitle-margin-top) - (@font-size-base / 2));
				/*height:47px;*/
			}
		}
		.block-icon-font {
			.icon:before {
				font-size:@block-header-icon-font;
			}
		}
	}
	h1,
	h2,
	.block-title-plus {
		font-size:@block-title-plus;
		margin-top:-3px;
	}
	.block-subtitle-plus {
		font-size:@block-subtitle-plus;
		margin-top:@block-subtitle-plus-margin-top;
	}
	h3,
	h2.block-title,
	.block-title {
		font-size:@block-title;
		margin-top:-2px;
	}
	.block-subtitle {
		font-size:@block-subtitle;
		margin-top:@block-subtitle-margin-top;
	}
	.lead {
		font-size:@lead;
	}
	#sidebar-container #sidebar-content {
		nav:not(.section-links) {
			a,
			span {
				font-size:@sidebar-nav-caps;
			}
		}
		nav.section-links {
			ul.list-sections > li a {
				font-size:@sidebar-nav-section-links - 1;
				line-height:@sidebar-nav-section-links * 2.25;
			}
			ul.list-related > li a {
				font-size:@sidebar-nav-section-links;
				line-height:@sidebar-nav-section-links * 2.75;
			}
		}
	}
	.panel-title,
	.link-list-item {
		font-size:@font-size-body;
	}
} // 900px and shorter