//
// INTERNET EXPLORER STYLES
// --------------------------------------------------

@import "../lesshat/lesshat";

  #sidebar-container {
    // Fixing transparency in sidebar
    background-image:url('/template/assets/img/white-overlay-bkgd.png');

    #sidebar-content {
      nav.section-links {
        li > a {
          // Darken the text in the sidebar so it is more readable
          color:#666666;
        }
      }
      nav.sibling-links {
        ul.list-pages {
          li {
            // Transparency fix in sidebar siblings
            background-image:url('/template/assets/img/sidebar-siblings-background.png');
          }
          a {
            // Darken the text in the sidebar so it is more readable
            color:#666666;
          }
        }
      }
    }
  }

.homepage {
  #markets-container {
    background-image:url('/template/assets/img/homepage-white.png');
  }
}

// Fixing the hover state for colored link list blocks
.text_link_list.colored {
  li:hover {
    background-color:transparent !important;
    background-image:url('/template/assets/img/link-list-hover.png') !important;
    opacity:0;
    filter:0;
  }
}

// Fixing squished icons
.transit-icon {
  .icon {
    width:auto !important;
  }
}

.block-icon {
  .icon {
    width:auto !important;
  }
}

// Fixing table striping/headings in colored table blocks
.table-striped {
  tbody {
    tr:nth-child(2n+1) {
      td, th {
        background-image:url('/template/assets/img/link-list-hover.png') !important;
        background-color:transparent !important;
        filter:0;
      }
    }
  }
}
.table_full_width.colored {
  .table {
    thead {
      tr {
        background-image:url('/template/assets/img/darken-black-10-percent.png') !important;
        background-color:transparent !important;
        filter:0;
      }
    }
  }
}
.table_text_right.colored {
  .table {
    thead {
      tr {
        background-image:url('/template/assets/img/darken-black-10-percent.png') !important;
        background-color:transparent !important;
        filter:0;
      }
    }
  }
}

.table_text_left.colored {
  .table {
    thead {
      tr {
        background-image:url('/template/assets/img/darken-black-10-percent.png') !important;
        background-color:transparent !important;
        filter:0;
      }
    }
  }
}

.bck-overlay {
  background-image:url('/template/assets/img/darken-black-10-percent.png') !important;
  background-color:transparent !important;
}

.global-search-field {
  height: 34px;
  margin-right:6px;
  position:relative;
  top:2px;
}

.image_text_overlay {
  .row.block-full {
    background:transparent;
    background-image:url('/template/assets/img/white-overlay-bkgd.png');
  }
}

.cta-submit {
  padding-top:2px !important;
}

.text_link_list.colored {
  a:hover {
    background:transparent;
    background-image:url('/template/assets/img/white-2-percent.png');
  }
}

header#site-header {
  #subnav-search {
    button {
      margin-top:12px;
    }
  }
}