// BLOCKS
// --------------------------------------------------

section .block {

  h3 {
    letter-spacing:2px;
    font-weight:700;
  }
  h4 {
    letter-spacing:1.3px;
    font-weight:300;
  }
  h5 {
    letter-spacing:1px;
  }
  p {
    font-weight:300;
  }
}

section .block&.colored {

  h3 {
    font-weight:600;
  }
  h4 {
    font-weight:100;
  }
  p {
    font-weight:100;
  }
}

.block {
  & {
    width: 100%;
    height: auto;
    padding: 4% 0;
  }

/*
  h3 {
    margin-top: 0;
    font-size:40px;
    font-size:2.5em;
    font-size:4rem;
    font-weight:600;
    letter-spacing:1.5px;
    text-transform:uppercase;
  }

  h4 {
    margin-bottom:30px;
    text-transform:uppercase;
  }

  h5 {
	  font-size:15px;
	  margin-top:0;
	  font-weight:600;
  }

  p {
	  margin-bottom:20px;
  }
*/

  .block-row {
    margin-right: 0;
  }

  .block-container {
    padding-right: 0;
  }

  &.colored {
  	background-image:none;
    color:#fff;

    h1,h2,h3,h4,h5,p,span,a {
      color:#fff;
    }

	.btn-primary {
		background:@white;
		color:@black;
	}

	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary:active,
	.btn-primary.active,
	.open .dropdown-toggle.btn-primary {
		background-color:@black;
		border-color:#222;
		color:@white;
	}

  }

  &.gray {
    background:#f7f8f8;
  }

  &.multi_block_first {
    padding-bottom: 10px;
  }
  &.multi_block_middle {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &.multi_block_end {
    padding-top: 10px;
  }

}


/* text_super */
.text_super {

	&.colored,
	&.gray {
		.block-row {
			background-image:none;
		}
	}

  .block-row {
    background-image:url(/template/assets/img/white-overlay-bkgd.png);
    background-repeat:repeat;
    padding:40px 0;
  }

}

/* text_super_banner */
.text_super_banner {
  & {
    padding-top: 0;
  }

  .super-banner {
    height: 200px;
    margin-bottom:4%;
  }
}

/* text_super + text_super_banner */
.text_super,
.text_super_banner {

  .block-icon {
    float: left;
  }

  .icon {
    margin-right:30px;
  }
/*
  .headline {
    font-size:50px;
    font-weight:700;
    line-height:48px;
    letter-spacing:2px;
    margin:-5px 0 0;
    padding:0;
    color:@black;
    text-transform:uppercase;
  }
  .subtitle {
    font-size:28px;
    font-weight:300;
    line-height:28px;
    letter-spacing:1.5px;
    margin:5px 0 0;
    padding:0;
    text-transform:uppercase;
  }
  .lead {
    font-size:24px;
    font-weight:400;
    line-height:30px;
    margin:30px 0 0;
  }
*/

}

/* text_2_images */

.text_2_images {

	.img-responsive {
		margin-bottom:30px;
	}

}

/* text_3_images */

.text_3_images {

	.img-responsive {
		margin-bottom:30px;
	}

}

/* text_image_top */

.text_image_top {

	.img-responsive {
		margin-bottom:40px;
	}
}

/* slider_two_column_text */

.slider_two_column_text {

	.carousel {
		margin-bottom:20px;
	}
}

/* text_link_list */

.text_link_list {

	a,
	a:hover {
		text-decoration:none;
	}

	ul,li {
		list-style:none;
		margin:0;
		padding:0;
	}
	li {
		font-size:16px;
		line-height:16px;
		color:#999;
		padding:20px;
		border-bottom:1px solid #eee;
		cursor:pointer;
		&:after {
			font-family:FontAwesome;
			content:'\F08E';
			display:block;
			float:right;
			color:#bbb;
			margin-top:2px;
		}
		a {
			color:#999;
			font-weight:300;
		}
	}

	li:hover {
		background:#fbfbfb;
		color:@black;
		border-left:1px solid #eee;
		border-right:1px solid #eee;
		padding:20px 19px;
		&:after, a {
			color:@black;
		}
		&:first-child {
			border-top:1px solid #eee;
			padding-top:19px;
		}
	}

	&.gray {
		li {
			color:#888;
			border-color:#e5e5e5;
			&:after {
				color:#aaa;
			}
			a {
				color:#888;
			}
		}
		li:hover {
			background:#f3f3f3;
			&:after {
				color:@black;
			}
			a {
				color:@black;
			}
			&:first-child {
				border-color:#e5e5e5;
			}
		}
	}

	&.colored {
		li {
			color:#eee;
			border-color:rgba(255,255,255,0.25);
			&:after {
				color:#eee;
			}
			a {
				color:#eee;
			}
		}
		li:hover {
			color:@white;
			background:rgba(255,255,255,0.1);
			&:after {
				color:@white;
			}
			a {
				color:@white;
			}
			&:first-child {
				border-color:rgba(255,255,255,0.25);
			}
		}
	}
}

/* text_accordion */

.text_accordion {

	a,
	a:hover {
		text-decoration:none;
	}

	.panel-group {

		h4 {
			margin:0;
		}

		.panel {
			background:transparent;
			border:none;
			border-radius:0;
			box-shadow:none;
			margin:0;

			&+.panel {
				margin:0;
			}

			&.panel-default {
				border-color:#eee;
			}

			.panel-heading {
				cursor:pointer;
				position:relative;
				padding:0;
				border:0;
				background-color:transparent;
				a {
					font-size:16px;
					line-height:16px;
					color:#999;
					padding:20px;
					display:block;
					width:100%;
					border-bottom:1px solid #eee;

					&:after {
						font-family:FontAwesome;
						font-size:14px;
						line-height:14px;
						content:'\F067';
						display:block;
						color:#ddd;
						position:absolute;
						right:20px;
						top:38%;
					}
					&.collapsed {
						color:#999;
						border-bottom:1px solid #eee;

						&:after {
							content:'\F067';
							color:#ccc;
						}
					}
					&:not(.collapsed) {
						color:@black;
						background:#f8f8f8;
						border:1px solid #eee;
						padding:19px 19px 20px 19px;
						&:after {
							content:'\F068';
							color:@black;
						}
					}
					&:hover {
						color:@black;
						&:after {
							color:@black;
						}
					}
				} // a

			} // panel-heading

			.panel-body {
				padding:20px;
				color:#444;
				background:#fcfcfc;
				border:1px solid #efefef;
				font-weight:300;
			} // panel-body

		} // panel
	} // panel-group

	&.gray {
		.panel-group {
			.panel {
				.panel-heading {
					a {
						color:#888;
						border-color:#e5e5e5;
						&.collapsed {
							color:#888;
							border-color:#e5e5e5;
							&:after {
								color:#bbb;
							}

						}
						&:not(.collapsed) {
							background:#f3f3f3;
							border-color:#e5e5e5;
						}
					} // a
				} // panel-heading
			} // panel
		} // panel-group
	} // gray

	&.colored {
		.panel-group {
			.panel {
				.panel-heading {
					a {
						color:#eee;
						border-color:rgba(255,255,255,0.25);
						h4 {
							color:#eee;
						}
						&.collapsed {
							color:#eee;
							border-color:rgba(255,255,255,0.25);
							&:after {
								color:#eee;
							}

						}
						&:not(.collapsed) {
							color:@white;
							background:rgba(255,255,255,0.10);
							border-color:rgba(255,255,255,0.25);
							h4 {
								color:@white;
							}
							&:after {
								color:@white;
							}
						}
					} // a
				} // panel-heading
				.panel-body {
					color:#eee;
					background:rgba(255,255,255,0.05);
					border-color:rgba(255,255,255,0.25);
				} // panel-body
			} // panel
		} // panel-group
	} // gray

} // text_accordion

/* image_gallery */

.image_gallery {

	.row + .row {
		margin-top:40px;
	}

}

/* image_text_overlay */

.image_text_overlay {

	.text-overlay {
	    position:absolute;
	    top:25%;
	    margin-left:5%;
	    margin-right:5%;
    }

}

/* CALL TO ACTION FORMS */
.cta_phone, .cta_form, .cta_button {
  &{
    text-align:center;
  }
  h3, h4 {
    text-align:center;
  }

  .cta-field {
    width:170px;
  }
}

/* Contact Page Form */

.contact-form-container h3 {
  text-align:center;
}

/* table_full_width */

.table_full_width,
.table_text_right,
.table_text_left {

	&.default {
		.table-striped {
			> tbody > tr:nth-child(odd) {
				> td,
				> th {
					background-color:#fefefe;
				}
			}
			> tbody > tr:nth-child(even) {
				> td,
				> th {
					background-color:#f9f9f9;
				}
			}
		} // table-striped
		.table > thead > tr > th,
		.table > tbody > tr > th,
		.table > tfoot > tr > th,
		.table > thead > tr > td,
		.table > tbody > tr > td,
		.table > tfoot > tr > td {
			border-color:#e9e9e9;
			font-weight:300;
		}
		.table > thead > tr {
			background:#e3e3e3;
			font-weight:600;
			color:#222;
			> th {
				font-weight:600;
			}
		}
		table {
			border:1px solid #eee;
		}
	} // default

	&.gray {
		.table-striped {
			> tbody > tr:nth-child(odd) {
				> td,
				> th {
					background-color:#fbfbfb;
				}
			}
			> tbody > tr:nth-child(even) {
				> td,
				> th {
					background-color:#f3f3f3;
				}
			}
		} // table-striped
		.table > thead > tr > th,
		.table > tbody > tr > th,
		.table > tfoot > tr > th,
		.table > thead > tr > td,
		.table > tbody > tr > td,
		.table > tfoot > tr > td {
			border-color:#e5e5e5;
			font-weight:300;
		}
		.table > thead > tr {
			background:#ddd;
			font-weight:600;
			color:#222;
			> th {
				font-weight:600;
			}
		}
		table {
			border:1px solid #eaeaea;
		}
	} // gray

	&.colored {
		.table-striped {
			> tbody > tr:nth-child(odd) {
				> td,
				> th {
					background-color:rgba(255,255,255,0.03);
				}
			}
			> tbody > tr:nth-child(even) {
				> td,
				> th {
					background-color:rgba(255,255,255,0.06);
				}
			}
		} // table-striped
		.table > thead > tr > th,
		.table > tbody > tr > th,
		.table > tfoot > tr > th,
		.table > thead > tr > td,
		.table > tbody > tr > td,
		.table > tfoot > tr > td {
			border-color:rgba(255,255,255,0.10);
			font-weight:300;
		}
		.table > thead > tr {
			background:rgba(0,0,0,0.15);
			font-weight:600;
			> th {
				font-weight:600;
			}
		}
		table {
			border:1px solid rgba(255,255,255,0.08);
		}
	} // colored



	/*
	.table > thead > tr,
	.table > tbody > tr,
	.table > tfoot > tr {
	  > td.active,
	  > th.active,
	  &.active > td,
	  &.active > th  {
	    background-color: @table-bg-active;
	  }
	}
	*/

}

/* cta_form and contact_page_form */

.cta_form, .contact_page_form {

	h3 {
		margin-bottom:30px;
	}

	input,
	textarea {
		border-radius:0;
		margin:0 5px;
	}

	input[type="submit"] {
		background:none;
		border:0;
		color:#666;;
		text-transform:uppercase;
		font-size:14px;
		line-height:1;
		vertical-align:middle;
		margin-top:2px;
	}

	input[type="submit"]:focus {
		outline:none;
	}

	i.fa {
		font-size:20px;
		vertical-align:middle;
		color:#666;
	}

	&.colored {
		input[type="submit"] {
			color:@white;
		}
		i.fa {
			color:@white;
		}
	}

}

.contact_page_form {
	.row.contact-form-row {
		margin-bottom:30px;
	}
}

/* Google Map */

.map {
  & {
    height: 500px;
    padding:0;
  }

  .block-row, .block-container {
    height: inherit;
  }

  .google-map {
    height: 100%;
    width: 100%;
  }

}

/* Infos */

.text_infos_matrix  {
	h3 {
		margin-bottom:30px;
	}
	.row.details {
		letter-spacing:1px;
		color:#666;
	}
  .first-col p {
      font-weight: 600;
  }
}

/* sitemap */

.block.sitemap {

  &{
    padding: 0;
  }

  .sitemap-list {
    padding-left:0;
    margin:25px 0 50px;
  }

  .sitemap-item {
    border-left:1px solid @calvarylife;
    list-style:none;
    position: relative;
    transform:translate3d(0,0,0);
    min-height: 15px;
    padding-bottom:5px;
    padding-top:5px;
  }

  .sitemap-item a {
    text-transform:uppercase;
    margin-left:25px;
    position:relative;
    background: white;
    z-index: 10;
    display: block;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#999;
    font-weight:300;
  }

  .sitemap-item a:hover {
	  text-decoration:none;
	  color:@black;
  }

  .sitemap-item:before {
    content: "\00a0";
    height: 1px;
    background: @calvarylife;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    z-index: -1;
  }

}