// BLOCKS - GLOBAL STYLES
// --------------------------------------------------

.block {
	& {
		width: 100%;
		height: auto;
		padding: 4% 0;
	}
	.block-row {
		//margin-right: 0;
	}
	.block-container {
		//padding-left: 0;
	}
	h4 {
		letter-spacing:1.3px;
		font-weight:300;
	}
	h5 {
		letter-spacing:1px;
	}
	p {
		font-weight:300;
	}
	p:last-of-type {
		margin-bottom:0;
	}
	img.img-responsive {
		&:not(.icon) {
		min-width:100%;
		height:auto;
		}
	}
    .image-caption {
      font-style:italic;
      font-size:14px;
      //margin-top:-15px;
      margin-bottom:15px;
    }
} // .block

.block&.colored {
	& {
		background-image:none;
		color:#fff;
	}
	h1,h2,h3,h4,h5,p,span,a {
		color:#fff;
	}
	h4 {
		font-weight:100;
	}
	p {
		font-weight:100;
	}
} // .block.colored

.block&.gray {
	& {
		background:#f7f8f8;
	}
} // .block.gray

.block {
	&.multi_block_first {
		padding-bottom: 10px;
	}
	&.multi_block_middle {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	&.multi_block_end {
		padding-top: 10px;
	}
} // .block.multi_*