// BLOCKS - image_text_overlay
// --------------------------------------------------

/* image_text_overlay */

.image_text_overlay {
	& {

	}
	.block-row {
		padding:@block-title 0;
		background:rgba(255,255,255,0.7);
	}
	.lead {
		color:#666;
	}

}