// BLOCKS - SITE MAP
// --------------------------------------------------

.block.sitemap {

  &{
    padding: 0;
  }

  .sitemap-list {
    padding-left:0;
    margin:25px 0 50px;
  }

  .sitemap-item {
    border-left:1px solid @calvarylife;
    list-style:none;
    position: relative;
    transform:translate3d(0,0,0);
    min-height: 15px;
    padding-bottom:5px;
    padding-top:5px;
  }

  .sitemap-item a {
    text-transform:uppercase;
    margin-left:25px;
    position:relative;
    background: white;
    z-index: 10;
    display: block;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#999;
    font-weight:300;
  }

  .sitemap-item a:hover {
	  text-decoration:none;
	  color:@black;
  }

  .sitemap-item:before {
    content: "\00a0";
    height: 1px;
    background: @calvarylife;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    z-index: -1;
  }

}