// BLOCKS - slider_two_column_text
// --------------------------------------------------

.slider_two_column_text {

  .carousel {
      margin-bottom:20px;
  }

  .rsArrowIcn {
    background:none !important;
  }

  .rsArrowRight {
    .rsArrowIcn:after {
      color:@black;
      font-size:(@font-size-body * 1.25);
      font-family:@icon-font-name;
      content:"\F054";
      padding:0 0 0 15px;
      vertical-align:top;
      position:relative;
      top:2px;
    }
  }

  .rsArrowLeft {
    .rsArrowIcn:after {
      color:@black;
      font-size:(@font-size-body * 1.25);
      font-family:@icon-font-name;
      content:"\F053";
      padding:0 0 0 15px;
      vertical-align:top;
      position:relative;
      top:7px;
    }
  }
}