// BLOCKS - text_super
// --------------------------------------------------

.text_super {
	&.colored,
	&.gray {
		.block-row {
			background-image:none;
		}
	}
	.block-row {
		background-image:url(../img/white-overlay-bkgd.png);
		background-repeat:repeat;
		padding:40px 0;
	}
	.block-icon {
		/* These settings in viewport/typography.less */
	}
	.icon {
		/* These settings in viewport/typography.less */
	}
	.block-headline {
		/* These settings in viewport/typography.less */
	}
	.lead {
		/* These settings in viewport/typography.less */
	}
	&:nth-of-type(1) {
		.block-header-plus {
			margin-bottom:0;
		}
		.lead {
			display:none;
		}
	}
	&:not(.backstretch) {
		.block-row {
			padding:0;
		}
	}
}