// BLOCKS - text_super_banner
// --------------------------------------------------

.text_super_banner {
	& {
		padding-top:0;
	}
	.super-banner {
    	height: 200px;
		margin-bottom:4.75%;
		width:100.3%;
	}
	/*
	.block-icon {
		float:left;
	}
	.icon {
		margin-right:30px;
	}
	.lead {
		margin-bottom:0;
	}
	*/
	&:nth-of-type(1) {
		.block-header-plus {
			margin-bottom:0;
		}
		.lead {
			display:none;
		}
	}
}