// BLOCKS - text_link_list
// --------------------------------------------------

.text_link_list {

	a,
	a:hover {
		text-decoration:none;
	}

	a {
		color:#999;
		font-weight:300;
		padding:20px;
		border-bottom:1px solid #eee;
		cursor:pointer;
		display:block;
		width:100%;
		&:after {
			font-family:FontAwesome;
			content:'\F08E';
			display:block;
			float:right;
			color:#bbb;
			margin-top:2px;
		}
	}

	a:hover {
		background:#fbfbfb;
		color:@black;
		border-left:1px solid #eee;
		border-right:1px solid #eee;
		padding:20px 19px;
		&:after {
			color:@black;
		}
		&:first-child {
			border-top:1px solid #eee;
			padding-top:19px;
		}
	}

	&.gray {
		a {
			color:#888;
			border-color:#e5e5e5;
			&:after {
				color:#aaa;
			}
		}
		a:hover {
			background:#f3f3f3;
			color:@black;
			&:after {
				color:@black;
			}
			&:first-child {
				border-color:#e5e5e5;
			}
		}
	}

	&.colored {
		a {
			color:#eee;
			border-color:rgba(255,255,255,0.25);
			&:after {
				color:#eee;
			}
		}
		a:hover {
			color:@white;
			background:rgba(255,255,255,0.1);
			&:after {
				color:@white;
			}
			&:first-child {
				border-color:rgba(255,255,255,0.25);
			}
		}
	}
}