// BLOCKS - text_accordion
// --------------------------------------------------

.text_accordion, .faq_accordion {

	.panel-group {

		.panel {
			background:transparent;
			border:none;
			border-radius:0;
			box-shadow:none;
			margin:0;

			&+.panel {
				margin:0;
			}

			&.panel-default {
				border-color:#eee;
			}

			.panel-heading {
				cursor:pointer;
				position:relative;
				padding:0;
				border:0;
				background-color:transparent;
				a {
					color:#999;
					padding:20px;
					display:block;
					width:100%;
					border-bottom:1px solid #eee;
					text-transform:uppercase;
					letter-spacing:0.5px;
					text-decoration:none;
					h4 {
						margin:0;
						width:90%;
						font-weight:400;
					}
					&:after {
						font-family:FontAwesome;
						font-size:12px;
						line-height:14px;
						content:'\F067';
						display:block;
						color:#ddd;
						position:absolute;
						right:20px;
						top:21px;
					}
					&.collapsed {
						color:#999;
						border-bottom:1px solid #eee;

						&:after {
							content:'\F067';
							color:#ccc;
						}
					}
					&:not(.collapsed) {
						color:@black;
						background:#f8f8f8;
						border:1px solid #eee;
						padding:19px 19px 20px 19px;
						&:after {
							content:'\F068';
							color:@black;
						}
					}
					&:hover {
						color:@black;
						text-decoration:none;
						&:after {
							color:@black;
						}
					}
				} // a

			} // panel-heading

			.panel-body {
				padding:20px;
				color:#444;
				background:#fcfcfc;
				border:1px solid #efefef;
				font-weight:300;
			} // panel-body

		} // panel
	} // panel-group

	&.gray {
		.panel-group {
			.panel {
				.panel-heading {
					a {
						color:#888;
						border-color:#e5e5e5;
						h4 {
							color:#888;
						}
						&.collapsed {
							color:#888;
							border-color:#e5e5e5;
							&:after {
								color:#bbb;
							}
						}
						&:not(.collapsed) {
							background:#f3f3f3;
							border-color:#e5e5e5;
							h4 {
								color:@black;
							}
							&:after {
								color:@black;
							}
						}
						&:hover {
							color:@black;
							h4 {
								color:@black;
							}
							&:after {
								color:@black;
							}
						}
					} // a
				} // panel-heading
			} // panel
		} // panel-group
	} // gray

	&.colored {
		.panel-group {
			.panel {
				.panel-heading {
					a {
						color:#ddd;
						border-color:rgba(255,255,255,0.25);
						h4 {
							color:#ddd;
						}
						&.collapsed {
							color:#ddd;
							border-color:rgba(255,255,255,0.25);
							&:after {
								color:#ddd;
							}
						}
						&:not(.collapsed) {
							color:@white;
							background:rgba(255,255,255,0.10);
							border-color:rgba(255,255,255,0.25);
							h4 {
								color:@white;
							}
							&:after {
								color:@white;
							}
						}
						&:hover {
							color:@white;
							h4 {
								color:@white;
							}
							&:after {
								color:@white;
							}
						}
					} // a
				} // panel-heading
				.panel-body {
					color:#eee;
					background:rgba(255,255,255,0.05);
					border-color:rgba(255,255,255,0.25);
				} // panel-body
			} // panel
		} // panel-group
	} // gray

} // text_accordion