//
// MQ - Column Width Adjustments
// --------------------------------------------------

// min 1680px
// -------------------------------
@media (min-width: @screen-xxl-min) {

    /* MAIN */
    #main {
		.block-container {
			&.col-xxl-10 {
		  	width:82.3%;
			}
		} // block-container
    } // main

    #sidebar {
	    #sidebar-container {
		    &.col-xxl-2 {
			  width:18%;
		    }
	    } // sidebar-container
    } // sidebar

}

// min 1440px - max 1679px
// -------------------------------
@media (min-width: @screen-xl-min) and (max-width: @screen-xl-max) {

    /* MAIN */
    #main {
		.block-container {
			&.col-xl-9 {
		  	width:75.5%;
			}
		} // block-container
    } // main

    #sidebar {
	    #sidebar-container {
		    &.col-xl-3 {
			  width:25%;

		    }
	    } // sidebar-container
    } // sidebar

}

// min 1200px - max 1439px
// -------------------------------
@media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {

    /* MAIN */
    #main {
		.block-container {
			&.col-xl-9 {
		  	width:75.6%;
			}
		} // block-container
    } // main

    #sidebar {
	    #sidebar-container {
		    &.col-xl-3 {
			  width:25%;

		    }
	    } // sidebar-container
    } // sidebar

}