// REFERENCE - STANDAR MEDIA QUERY BREAKPOINTS
// --------------------------------------------------

/* BY WIDTH - WIDEST to NARROWEST VIEWPORT */
/*--------------------------------*/

// min 2000px and up
// -------------------------------
@media (min-width: @screen-xxxl-min) {

}

// max 1999px
// -------------------------------
@media (max-width: @screen-xxl-max) {

}

// max 1679px
// -------------------------------
@media (max-width: @screen-xl-max) {

}

// max 1439px
// -------------------------------
@media (max-width: @screen-lg-max) {

}

// max 1199px
// -------------------------------
@media (max-width: @screen-md-max) {

}

// max 991px
// -------------------------------
@media (max-width: @screen-sm-max) {

}

// max 767px
// -------------------------------
@media (max-width: @screen-xs-max) {

}

// max 479px
// -------------------------------
@media (max-width: @screen-xxs-max) {

}

/* BY MAX HEIGHT */
/*--------------------------------*/

// max height 720px
// -------------------------------
@media (max-height: @screen-sm-height) {

}

// max height 900px
// -------------------------------
@media (max-height: @screen-md-height) {

}

/* BY MIN WIDTH TO MAX WIDTH */
/*--------------------------------*/

// min 480px to max 767px
// -------------------------------
@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {

}

// min 768px to max 991px
// -------------------------------
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

}

// min 992px to max 1199px
// -------------------------------
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

}

// min 1200px to max 1439px
// -------------------------------
@media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {

}

// min 1440px to max 1679px
// -------------------------------
@media (min-width: @screen-xl-min) and (max-width: @screen-xl-max) {

}

// min 1680px to max 1999px
// -------------------------------
@media (min-width: @screen-xxl-min) and (max-width: @screen-xxl-max) {

}

/* BY DEVICE */
/*--------------------------------*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px)
and (max-width : 768px) {

}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {

}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

}