// GLOBAL PRINT STYLESHEET
// --------------------------------------------------

@media print {
  div[class|=col-]{float:left;}

    /* MAIN */
    .main-container {

      section.section {
        .block {

          .image-caption {
          }

          &.text_super {
            .block-full {
              .block-container {
                .container {
                }
              } // block-container
            } // block-full
          }
          &.text_super_banner {
            .block-full {
              .block-container {
                .super-banner {
                }
                .container {
                }
              } // block-container
            } // block-full
          } // text_super_banner
        } // block
      } // section
    } // main-container

    #sidebar-container {
      #sidebar-content {
        nav.section-links {
          padding: 0 20px;
        }
      }
    }

    /* SIDEBAR MOBILE */
    #sidebar {
      #navbar-header.navbar-header {
        a.navbar-toggle {
        } // navbar-toggle
      } // navbar-header
      .navbar-collapse {
        &.collapse {
        }
        &.in {
        }
        #sidebar-container {
          #sidebar-content {
            nav.breadcrumb-links {
              > div {
                font-size: 14px;
                padding: 3px 0;
                line-height: normal;
                letter-spacing: normal;
              }
            }
            nav.section-links {
              ul.list-sections {
                > li {
                  > a {
                    font-size: 14px;
                    padding: 3px 0;
                    line-height: normal;
                    letter-spacing: normal;
                  }
                }
              }
            }
            nav.sibling-links {
              ul.list-pages {
                li {
                  a {
                    font-size: 14px;
                    padding: 3px 0;
                    line-height: normal;
                    letter-spacing: normal;
                  }
                }
              }
            }
          }
        } // sidebar-container
      } // navbar-collapse
    } // sidebar

  .block {

    padding: 1% 0;


    img {
      max-height: 300px !important;
      min-width: 0 !important;
      width: auto !important;
    }
    .panel-collapse {
      display: block !important;
    }

    .panel-group .panel .panel-heading a.collapsed:after, .panel-group .panel .panel-heading a.collapsed:after {
      display: none !important;
    }


  }
  #navbar-collapse-sidebar {
    height: auto !important;
    display: block !important;

    .list-sections .active a, .list-pages .active a {
      font-weight: bold !important;
    }

  }



  //  .col-md-1{width:7.41%}
  //  .col-md-2{width:7.41 * 2%}
  //  .col-md-3{width:7.41 * 3%}
  //  .col-md-4{width:7.41 * 4%}
  //  .col-md-5{width:7.41 * 5%}
  //  .col-md-6{width:7.41 * 6%}
  //  .col-md-7{width:7.41 * 7%}
  //  .col-md-8{width:7.41 * 8%}
  //  .col-md-9{width:7.41 * 9%}
  //  .col-md-10{width:7.41 * 10%}
  //  .col-md-11{width:7.41 * 11%}
  //  .col-md-12{width:7.41 * 12%}




  a[href]:after,  abbr[title]:after {
    content: none;
  }
  .backstretch {
    display: none !important;
  }
}