// NOTIFICATIONS + ALERTS
// --------------------------------------------------

.alert {
	background-color:transparent;
	border-color:@black;
	color:@black;
	margin:40px auto;
	width:100%;
	padding:30px;
	border-radius:0;
	position:relative;
	&:before,
	&:after {
		content:"";
		position:absolute;
		top:-20px;
		left:50px;
		z-index:1;
		height:0;
		width:0;
		background:transparent;
		border-left: 20px solid transparent;  /* left arrow slant */
		border-right: 20px solid transparent; /* right arrow slant */
		border-bottom: 20px solid @black; /* bottom, add background color here */
	}
	&:after {
		z-index:2;
		border-bottom-color:@white;
		margin-top:2px;
	}
	.block-header {
		margin-bottom:20px;
	}
	.block-icon {
		float: left;
	}
	.icon {
		margin-right:20px;
	}
	.icon:before {
		font-size:@block-title + @block-title-plus - 10px;
	}
	.block-title {
		font-weight:400;
	}
	ul,
	li {
		list-style:none;
		margin:0;
		padding:0;
	}
	ul {
		padding-left:@block-title + @block-title-plus + 10px;
	}
} // alert

.block&.colored {
	.alert {
		color:@white;
		border-color:@white;
	}
	.alert:before {
		border-bottom-color:@white;
	}
} // .block.colored

@media (max-width: @screen-sm-max) {

	.block&.colored .alert {
		& {
			margin-top:60px;
		}
		.block-icon {
			float:none;
			margin-bottom:20px;
		}
		ul {
			padding-left:0;
		}
	}

}