// FORMS
// --------------------------------------------------

::-webkit-input-placeholder {
  color: #999;
  text-transform:uppercase;
  font-size:12px;
  line-height:24px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999;
  text-transform:uppercase;
  font-size:12px;
  line-height:24px;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: #999;
  text-transform:uppercase;
  font-size:12px;
  line-height:24px;
}
:-ms-input-placeholder {
  color: #999;
  text-transform:uppercase;
  font-size:12px;
  line-height:24px;
}

.form-control:focus {
  border-color:#555;
  box-shadow:none;
  outline:0;
}