// GLOBAL
// --------------------------------------------------

html, body {
  width: 100%;
}

body {
  position: relative;
  font-weight:100;
}


.wrap {
  margin-left: 0;
  margin-right: 0;
  margin-top:90px;
}

#main-container {
	padding:0;
}

.edit-icon {
  position:absolute;
  z-index:3;
  padding-left:25px;
  padding-top:25px;
}

#view-container {
  height: 100%;
  position: relative;
  width: 100%;
}

.block-header {
	height:100%;
}

.snap {
	display:none;
}

.bck-overlay {
  height: 100%;
  width: 100%;
  background: #000;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 101;
  opacity: 0.4;
  display: none;
}