#sidebar-container {

	&.col-md-2,
	&.col-lg-2 {
	 width:17.2%; /* trying to fix the gap to the left */
	}

	& {
	 position: absolute;
	 top: 0;
	 left: 0;
	 height: 100%;
	 //background: rgba(255,255,255,0.9);
	 //background:lighten(@cremeBG01,3%);
	 background:url(../img/calvary-masthead-bkgd.jpg) repeat;
	 padding-left: 0;
	 padding-right: 0;
	 z-index: 99;
	 border-right:10px solid @brownBG03;
	}

	ul {
	 list-style: none;
	}

	a {
	 color: @dark-grey;
	}

	a:hover {
	 text-decoration:none;
	}

	#sidebar-content {

	 & {
	   position: fixed;
	   width: inherit;
	   text-align: left;
	 }

	 .container {
	   width:auto;
	 }

	 nav > * {
	   padding-left:30px;
	 }

	 nav > ul {
	   margin:0;
	 }

	 nav.breadcrumb-links {

	   > div {
	     text-transform:uppercase;
	     font-size:20px;
	     font-weight:100;
	     line-height:37px;
	     letter-spacing:1px;
	     padding-top:3px;
	     margin-right:10px;
	   }
	   .bc-parent-1 {
	     background:@slateBG01;
	     color:#fff;
	   }
	   .bc-parent-2 {
	     background:@slateBG02;
	     color:#fff;
	   }
	   .bc-current {
		   background:@slateBG03;
	     color:#fff;
	   }
	   a {
	     color:#fff;
	   }
	   a:hover {
	     color:#000;
	     font-weight:300;
	   }
	 }

	 nav.section-links {

	   padding:20px 0 20px;

	   ul.list-sections {

	     > li > a {
	       font-weight:400;
	       line-height:30px;
	       height:30px;
	       font-size:14px;
	       font-weight:600;
	       color:#999;
	       text-transform: uppercase;
	       letter-spacing:1px;
	     }

	     > li > a:hover {
	       color:#000;
	     }

	     > li.active > a {
	       font-weight:600;
	     }

	   }

	   ul.list-related {
	     padding:0 0 0 15px;
	     margin:7px 0;
	     border-right:1px solid #ccc;

	     > li > a {
	       color:#888;
	       line-height:26px;
	       font-weight:300;
	     }

	     > li > a:hover {
	       color:#000;
	     }

	   }

	 }

	 nav.sibling-links {

	   ul.list-pages {

	     padding:0;

	     li {
	       background:rgba(149,156,161,0.10);
	       margin-bottom:1px;
	     }

	     a {
	       text-transform:uppercase;
	       font-size:20px;
	       font-weight:300;
	       line-height:37px;
	       letter-spacing:1px;
	       padding-top:3px;
	       padding:3px 0 0 30px;
	       color:#999;
	     }

	     a:hover {
	       color:#000;
	     }

	   }

	 }

	}
}