// SITE HEADER
// --------------------------------------------------

header#site-header {
  .container {
    width:100%;
    max-width: none;
    padding:0 30px;
  }
  #navbar {
    &.navbar.navbar-default {
      z-index: 102;
      padding:0;
      border-radius: 0;
      margin-bottom: 0;
      min-height:40px;
      background-color:@brownBG02;
      border:0;
      //border-bottom:1px solid @slate;
      .navbar-header {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
        .navbar-brand {
          padding:0 15px 0 30px;
          .img-responsive {
            height: 70px;
            -webkit-transition: height 0.5s ease, width 0.5s ease;
            -moz-transition: height 0.5s ease, width 0.5s ease;
            -o-transition: height 0.5s ease, width 0.5s ease;
            transition: height 0.5s ease, width 0.5s ease;
          }
        } // navbar-brand
        .navbar-toggle {
          display:none; /* IMPORTANT - hidden by default for non-mobile */
          height:40px;
          background:lighten(#f0f4f5,2%);
          border:none;
          border-top:1px solid darken(#F0F4F5,7%);
          border-bottom:1px solid darken(#F0F4F5,7%);
          float:none;
          margin:0;
          padding:0;
          position:relative;
          top:0;
          width:100%;
          border-radius:0;
          cursor:pointer;
          text-align:center;
          text-transform:uppercase;
          letter-spacing:1px;
          font-size:13px;
          line-height:40px;
          font-weight:400;
          color:#999;
          &.collapsed {
            background:lighten(#f0f4f5,2%);
            color:#999;
          }
          &:hover,
          &:focus {
            background:lighten(#b2babf,20%);
            color:@black;
            text-decoration:none;
          }
          > span {
            &:before {
              font-family:@icon-font-name;
              content:"\F0C9";
              display:inline-block;
              margin-right:10px;
              vertical-align:middle;
            }
          }
        } // navbar-toggle
      } // navbar-header
      .navbar-collapse {
        padding-right:0;
        .navbar-nav {
          float:right; /* Had to add an important to the bs-override.less file */
          padding-top: 0px;
          -webkit-transition: padding 0.5s ease;
          -moz-transition: padding 0.5s ease;
          -o-transition: padding 0.5s ease;
          transition: padding 0.5s ease;
          li {
            a {
              outline: 0;
              text-transform: uppercase;
              font-size:14px;
              font-weight:400;
              padding:45px 15px 31px;
              line-height:14px;
              border-left:1px solid transparent;
              border-right:1px solid transparent;
              color:@slateBG00;
              letter-spacing:0.4px;
              width:auto;
              margin:0 20px;
              &:hover {
                color:@white;
              }
            }
            &.active {
              a {
                color:@white;
                position:relative;
                background:@brownBG04;
                &:before {
                	content: "";
									bottom: 0px;
									position: absolute;
									z-index: 10000;
									width:10px;
									left: 100%;
									border-left: 10px solid @brownBG03;
									border-right: 5px solid transparent;
									border-bottom: 0px solid transparent;
									border-top: @navbar-height solid transparent;
                }
                &:after {
                	content: "";
									top: 0px;
									position: absolute;
									z-index: 10000;
									width:10px;
	                right: 100%;
									border-left: 5px solid transparent;
									border-right: 10px solid @brownBG03;
									border-bottom: @navbar-height solid transparent;
									border-top: 0px solid transparent;
                }
              }
            }
            &.dropdown {
              > a .caret {
                margin-top:-3px;
              }
              &.open {
                a, a:hover, a:focus {
                  background:lighten(#f0f4f5,2%);
                  color:@white;
                  border-left:1px solid #eee;
                  border-right:1px solid #eee;
                  z-index:101;
                  background-clip: padding-box;
                  font-weight:400;
                }
              } // open
              &.active {
              } // active
              &.sub-active {
              } // sub-active
              > .dropdown-menu {
                font-size: 14px;
                background-color:lighten(#f0f4f5,2%);
                border: none;
                border-radius: 0px;
                margin:0;
                margin-top:-1px;
                padding:0;
                z-index:1;
                background-clip: padding-box;
                float:none;
                position:relative;
                box-shadow:none;
                //display:none; /* IMPORTANT - non-mobile default uses a custom non-Bootstrap dropdown */
                > li {
                  > a {
                    font-size:12px;
                    padding:7px 20px;
                    color:#999;
                    text-decoration:none;
                    border-bottom:1px solid #fff;
                  }
                  > a:hover, a:focus {
                    background-color:transparent;
                    color:@black;
                    text-decoration:none;
                  }
                  &.selected {
                    a {
                      color:@black;
                    }
                  }
                }
              } // dropdown-menu
            } // dropdown
            &#search-icon {
              a {
                padding-right:0;
                font-size:12px;
                margin-top:-2px;
                float:left;
              }
            } // search-icon
          } // li
        } // nabar-nav
        &.navbar-collapse-target {
        } // &.navbar-collapse-target
        &.in {
          overflow:visible;
        } // &.in
      } // navbar-collapse
    } // navbar.navbar-default
  } // navbar
  #navbar-sub {
    background:lighten(#f0f4f5,2%);
    height:40px;
    border-top:1px solid #eee;
    margin-top:-1px; /* pretty cool when it's -10px but doesnt' work well on Level 03 */
    z-index:100;
    display: none;
    position: absolute;
    width: 100%;
    > ul,
    > ul > li {
      list-style:none;
      margin:0;
      padding:0;
      display:inline;
      line-height:40px;
      height:40px;
    } // ul, li
    > .navbar-sub-list {
      opacity: 0;
      position: absolute;
      > li {
        a {
          font-size:12px;
          line-height:37px;
          padding-top:3px;
          margin:0 20px;
          color:#777;
          text-decoration:none;
          font-weight:400;
          text-transform:uppercase;
          &:hover {
            text-decoration:none;
            color:@black;
          }
        }
        &.active a {
          color:@black;
          font-weight:600;
        }
        &:first-child a {
          margin-left:0;
        }
        &:last-child a {
          margin-right:0;
        }
      } // li
    } // navbar-sub-list
  } // navbar-sub
  #subnav-search {
    button {
      color: #CCCCCC;
      display: block;
      float: left;
      margin-right: 7px;
      margin-top: 9px;
      background-image: none;
      border-radius: 0;
      cursor: pointer;
      margin-bottom: 0;
      padding: 0;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
      border: 0;
      background: transparent;
    }
    input.global-search-field {
      padding:1px 10px;
      border: 0;
      border-bottom:1px solid #ccc;
      border-image:none;
      background-color:transparent;
      width: 242px;
      &:focus {
        outline:none;
      }
    }
  }
} // site-header