// SITE FOOTER
// --------------------------------------------------

footer#site-footer {
	position:relative;
	z-index:100;
	border-top:1px solid #ddd;
	background:@brownBG03;
	text-transform:uppercase;

  .container {
    width:100%;
    max-width: none;
    padding:15px 0px;
  }

  .nav > li > span {
    color:#eee;
    position: relative;
    display: block;
    padding: 10px 20px 10px 0;
    font-weight:300;
  }

  .nav > li > a {
    color:#eee;
    padding: 10px 0 10px 20px;
    font-weight:300;
  }

  .nav > li > a:hover {
    color:@white;
    background:none;
  }

}