// TYPOGRAPHY
// --------------------------------------------------

// 	PROXIMA NOVA FONT
// -------------------------
// 	weight		variation
// 	100			thin
// 	200			n/a
// 	300			light
// 	400			regular
// 	500			n/a
// 	600			semibold
// 	700			bold

body {
	font-size:@font-size-body;
}
p {
	margin: 0 0 (@line-height-computed);
}

h4 {
	margin-top:0;
	font-weight:600; /* semibold */
}
h5 {
	margin-top:0;
	font-weight:600; /* semibold */
}
h6 {
	margin-top:0;
	font-weight:600; /* semibold */
}

.block-header-plus {
	margin-bottom:ceil(@block-title-plus / 2);
	.block-icon {
		float:left;
		margin-right:2%;
		width:auto;
		.icon {
			/*height:70px;*/
			width:auto;
			margin:0;
			font-size:85px;
			position:relative;
			top:-5px;
			vertical-align:top;
			padding:0;
		}
	}
	.block-headline {
		float:left;
		width:auto;
		height:auto;
	}
}

.block-header {
	margin-bottom:ceil(@block-title / 1.2);
}

h1,
h2,
.block-title-plus {
	font-size:@block-title-plus;
	font-weight:700; /* bold */
	line-height:0.95;
	letter-spacing:2px;
	text-transform:uppercase;
	margin:-5px 0 0;
	padding:0;
}

.block-subtitle-plus {
	font-size:@block-subtitle-plus;
	font-weight:300; /* light */
	line-height:0.95;
	letter-spacing:1.5px;
	text-transform:uppercase;
	margin:0;
	margin-top:ceil(@block-subtitle-plus / 4);
	padding:0;
}

h3,
h2.block-title,
.block-title {
	font-size:@block-title;
	font-weight:600; /* semibold */
	line-height:0.95;
	letter-spacing:1.5px;
	text-transform:uppercase;
	margin: 0;
	padding:0;
}

.block-subtitle {
	font-size:@block-subtitle;
	font-weight:100; /* thin */
	line-height:1.2;
	letter-spacing:1.5px;
	text-transform:uppercase;
	margin:0;
	margin-top:ceil(@block-subtitle / 1.5);
	padding:0;
}

.lead {
	font-size:@lead;
	font-weight:400; /* regular */
	line-height:1.3;
	margin:0;
}

.panel-title,
.link-list-item {
	font-size:@font-size-body;
	font-weight:300; /* light */
}

@media (min-width: @screen-xxxl-min) { /* 2000px and up */
	@font-size-body:16px;
	@font-size-base:16px;
	body {
		font-size:@font-size-body;
	}
	p {
		margin: 0 0 (@line-height-computed);
	}
	.block-header-plus {
		margin-bottom:ceil(@block-title-plus / 1.5);
	}
	.block-header {
		margin-bottom:@block-title;
	}
	h1,
	h2,
	.block-title-plus {
		font-size:@block-title-plus;
	}
	.block-subtitle-plus {
		font-size:@block-subtitle-plus;
		margin-top:ceil(@block-subtitle-plus / 4);
	}
	h3,
	h2.block-title,
	.block-title {
		font-size:@block-title;
	}
	.block-subtitle {
		font-size:@block-subtitle;
		margin-top:ceil(@block-subtitle / 1.5);
	}
	.lead {
		font-size:@lead;
	}
	.panel-title,
	.link-list-item {
		font-size:@font-size-body;
	}
}

@media (min-width: @screen-xxl-min) and (max-width: @screen-xxl-max) { /* 1680px to 1999px */
	@font-size-body:15px;
	@font-size-base:14px;
	body {
		font-size:@font-size-body;
	}
	p {
		margin: 0 0 (@line-height-computed);
	}
	.block-header-plus {
		margin-bottom:ceil(@block-title-plus / 1.5);
		.block-icon {
			margin-right:2%;
			.icon {
				height:63px;
				font-size:78px;
			}
		} // block-icon
	}
	.block-header {
		margin-bottom:@block-title;
	}
	h1,
	h2,
	.block-title-plus {
		font-size:@block-title-plus;
		margin-top:-4px;
	}
	.block-subtitle-plus {
		font-size:@block-subtitle-plus;
		margin-top:ceil(@block-subtitle-plus / 4);
	}
	h3,
	h2.block-title,
	.block-title {
		font-size:@block-title;
	}
	.block-subtitle {
		font-size:@block-subtitle;
		margin-top:ceil(@block-subtitle / 1.5);
	}
	.lead {
		font-size:@lead;
	}
	.panel-title,
	.link-list-item {
		font-size:@font-size-body;
	}
}

@media (min-width: @screen-xl-min) and (max-width: @screen-xl-max) { /* 1440 to 1679px */
	@font-size-body:14px;
	@font-size-base:13px;
	body {
		font-size:@font-size-body;
	}
	p {
		margin: 0 0 (@line-height-computed);
	}
	.block-header-plus {
		margin-bottom:ceil(@block-title-plus / 1.5);
		.block-icon {
			margin-right:3%;
			.icon {
				height:58px;
				font-size:70px;
			}
		} // block-icon
	}
	.block-header {
		margin-bottom:@block-title;
	}
	h1,
	h2,
	.block-title-plus {
		font-size:@block-title-plus;
		margin-top:-4px;
	}
	.block-subtitle-plus {
		font-size:@block-subtitle-plus;
		margin-top:ceil(@block-subtitle-plus / 4);
	}
	h3,
	h2.block-title,
	.block-title {
		font-size:@block-title;
	}
	.block-subtitle {
		font-size:@block-subtitle;
		margin-top:ceil(@block-subtitle / 1.5);
	}
	.lead {
		font-size:@lead;
	}
	.panel-title,
	.link-list-item {
		font-size:@font-size-body;
	}
}

@media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) { /* 1200px to 1439px */
	@font-size-body:14px;
	@font-size-base:13px;
	body {
		font-size:@font-size-body;
	}
	p {
		margin: 0 0 (@line-height-computed);
	}
	.block-header-plus {
		margin-bottom:ceil(@block-title-plus / 1.5);
		.block-icon {
			margin-right:3%;
			.icon {
				height:58px;
				font-size:70px;
			}
		} // block-icon
	}
	.block-header {
		margin-bottom:@block-title;
	}
	h1,
	h2,
	.block-title-plus {
		font-size:@block-title-plus;
		margin-top:-4px;
	}
	.block-subtitle-plus {
		font-size:@block-subtitle-plus;
		margin-top:ceil(@block-subtitle-plus / 4);
	}
	h3,
	h2.block-title,
	.block-title {
		font-size:@block-title;
	}
	.block-subtitle {
		font-size:@block-subtitle;
		margin-top:ceil(@block-subtitle / 1.5);
	}
	.lead {
		font-size:@lead;
	}
	.panel-title,
	.link-list-item {
		font-size:@font-size-body;
	}
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { /* 992px to 1199px */
	@font-size-body:14px;
	@font-size-base:12px;
	body {
		font-size:@font-size-body;
	}
	p {
		margin: 0 0 (@line-height-computed);
	}
	.block-header-plus {
		margin-bottom:ceil(@block-title-plus / 1.5);
		.block-icon {
			margin-right:3%;
			.icon {
				height:55px;
				font-size:67px;
			}
		} // block-icon
	}
	.block-header {
		margin-bottom:@block-title;
	}
	h1,
	h2,
	.block-title-plus {
		font-size:@block-title-plus;
		margin-top:-4px;
	}
	.block-subtitle-plus {
		font-size:@block-subtitle-plus;
		margin-top:ceil(@block-subtitle-plus / 4);
	}
	h3,
	h2.block-title,
	.block-title {
		font-size:@block-title;
	}
	.block-subtitle {
		font-size:@block-subtitle;
		margin-top:ceil(@block-subtitle / 1.5);
	}
	.lead {
		font-size:@lead;
	}
	.panel-title,
	.link-list-item {
		font-size:@font-size-body;
	}
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { /* 768px to 991px */
	@font-size-body:14px;
	@font-size-base:11px;
	body {
		font-size:@font-size-body;
	}
	p {
		margin: 0 0 (@line-height-computed);
	}
	.block-header-plus {
		margin-bottom:ceil(@block-title-plus / 1.5);
		.block-icon {
			margin-right:5%;
			.icon {
				height:51px;
				font-size:63px;
			}
		} // block-icon
		.block-headline {
			width:85%;
		} // block-headline
	}
	.block-header {
		margin-bottom:@block-title;
	}
	h1,
	h2,
	.block-title-plus {
		font-size:@block-title-plus;
		margin-top:-3px;
	}
	.block-subtitle-plus {
		font-size:@block-subtitle-plus;
		margin-top:ceil(@block-subtitle-plus / 4);
	}
	h3,
	h2.block-title,
	.block-title {
		font-size:@block-title;
	}
	.block-subtitle {
		font-size:@block-subtitle;
		margin-top:ceil(@block-subtitle / 1.5);
	}
	.lead {
		font-size:@lead;
	}
	.panel-title,
	.link-list-item {
		font-size:@font-size-body;
	}
}

@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) { /* 480px to 767px */
	@font-size-body:14px;
	@font-size-base:11px;
	body {
		font-size:@font-size-body;
	}
	p {
		margin: 0 0 (@line-height-computed);
	}
	.block-header-plus {
		margin-bottom:ceil(@block-title-plus / 1.5);
		.block-icon {
			margin:0 0 20px 0;
			float:none;
			width:100%;
			.icon {
				height:51px;
				font-size:63px;
			}
		} // block-icon
		.block-headline {
			float:none;
			width:100%;
		} // block-headline
	}
	.block-header {
		margin-bottom:@block-title;
	}
	h1,
	h2,
	.block-title-plus {
		font-size:@block-title-plus;
		margin-top:-3px;
	}
	.block-subtitle-plus {
		font-size:@block-subtitle-plus;
		margin-top:ceil(@block-subtitle-plus / 4);
	}
	h3,
	h2.block-title,
	.block-title {
		font-size:@block-title;
	}
	.block-subtitle {
		font-size:@block-subtitle;
		margin-top:ceil(@block-subtitle / 1.5);
	}
	.lead {
		font-size:@lead;
	}
	.panel-title,
	.link-list-item {
		font-size:@font-size-body;
	}
}

@media (max-width: @screen-xxs-max) { /* 479px and lower */
	@font-size-body:14px;
	@font-size-base:11px;
	body {
		font-size:@font-size-body;
	}
	p {
		margin: 0 0 (@line-height-computed);
	}
	.block-header-plus {
		margin-bottom:ceil(@block-title-plus / 1.5);
		.block-icon {
			margin:0 0 20px 0;
			float:none;
			width:100%;
			.icon {
				height:51px;
				font-size:63px;
			}
		} // block-icon
		.block-headline {
			float:none;
			width:100%;
		} // block-headline
	}
	.block-header {
		margin-bottom:@block-title;
	}
	h1,
	h2,
	.block-title-plus {
		font-size:@block-title-plus;
		margin-top:-3px;
	}
	.block-subtitle-plus {
		font-size:@block-subtitle-plus;
		margin-top:ceil(@block-subtitle-plus / 4);
	}
	h3,
	h2.block-title,
	.block-title {
		font-size:@block-title;
	}
	.block-subtitle {
		font-size:@block-subtitle;
		margin-top:ceil(@block-subtitle / 1.5);
	}
	.lead {
		font-size:@lead;
	}
	.panel-title,
	.link-list-item {
		font-size:@font-size-body;
	}
}

@media (max-height: @screen-md-height) { /* 900px and shorter */
	@font-size-body:14px;
	@font-size-base:11px;
	body {
		font-size:@font-size-body;
	}
	p {
		margin: 0 0 (@line-height-computed);
	}
	.block-header-plus {
		margin-bottom:ceil(@block-title-plus / 1.5);
		.block-icon {
			.icon {
				height:51px;
				font-size:63px;
			}
		} // block-icon
	}
	.block-header {
		margin-bottom:@block-title;
	}
	h1,
	h2,
	.block-title-plus {
		font-size:@block-title-plus;
		margin-top:-3px;
	}
	.block-subtitle-plus {
		font-size:@block-subtitle-plus;
		margin-top:ceil(@block-subtitle-plus / 4);
	}
	h3,
	h2.block-title,
	.block-title {
		font-size:@block-title;
	}
	.block-subtitle {
		font-size:@block-subtitle;
		margin-top:ceil(@block-subtitle / 1.5);
	}
	.lead {
		font-size:@lead;
	}
	.panel-title,
	.link-list-item {
		font-size:@font-size-body;
	}
}