//
// EXTENDED PAGE STYLES
// --------------------------------------------------

.extended {

  .main-container {
    margin-top: 90px;
  }

  /* This is necessary because the homepage and transit page rely on absolute positioning of navbar-sub */
  header#site-header {
    #navbar-sub {
      position: relative;
      top:0;
    }
  }

  #sidebar-container {

    & {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background: rgba(255,255,255,0.9);
      padding-left: 0;
      padding-right: 0;
      z-index: 99;
    }

    ul {
      list-style: none;
    }

    a {
      color: @dark-grey;
    }

    a:hover {
      text-decoration:none;
    }

    #sidebar {
    /* NOTE: all font-size, font-weight, and line-height controlled by typography.less */

      & {
        position: fixed;
        width: inherit;
        text-align: right;
      }

      .container {
        width:auto;
      }

      nav > ul {
        margin:0;
        padding:0;
        text-indent:0;
        width:100%;
      }

      nav.breadcrumb-links {
        > div {
			text-transform:uppercase;
			letter-spacing:1px;
			padding:9px 0px 7px;
			a,
			span {
			  margin-right:30px;
			  display:block;
			  color:@white;
			}
			a:hover {
			  color:#000;
			}
        }
        .bc-parent-1 {
          background:#b2babf;
        }
        .bc-parent-2 {
          background:#9fa6ab;
        }
      } // breadcrumb-links

      nav.section-links {
        padding:20px 0 20px;
        ul.list-sections {
        	> li {
	        	margin:7px 30px 6px 0;
	        	display:block;
	        	text-indent:0;
	        	padding:0;
				> a {
				color:#999;
				text-transform: uppercase;
				letter-spacing:1px;
				padding:0;
				}
				> a:hover {
				color:#000;
				}
				&.active > a {
				}
			} // li
        } // list-sections

        ul.list-related {
          padding:0px 15px 0px 0px;
          margin:7px 0;
          border-right:1px solid #ccc;
          > li > a {
            color:#888;
          }
          > li > a:hover {
            color:#000;
          }
        } // list-related
      } // section-links

      nav.sibling-links {
        ul.list-pages {
          padding:0;
          li {
            background:rgba(149,156,161,0.10);
            margin-bottom:1px;
          }
          a {
            text-transform:uppercase;
            letter-spacing:1px;
            padding:9px 0 7px;
            margin-right:30px;
            display:block;
            color:#999;
          }
          a:hover {
            color:#000;
          }
        } // list-page
      } // sibling-links

    } // sidebar

  } // sidebar-container

  #arrow-top {
    display: none;
    bottom: 2%;
    position: fixed;
    right: 30px;
    font-size: 29px;
    color: #999;
    z-index: 99;
  }

} // extended

// MQ - EXTENDED PAGE
// --------------------------------------------------

// max 1439px
// -------------------------------
@media (max-width: @screen-lg-max) {

  /* EXTENDED PAGE */
  .extended {

    /* MAIN */
    .main-container {
      margin-top:80px;
      section.section {
        .block.first_block {
          &.text_super_banner {
            .block-full {
              .block-container {
                .super-banner {
                  margin-bottom:6%;
                }
              } // block-container
            } // block-full
          } // text_super_banner
        } // first_block
      } // section
    } // main-container

  }  // extended

} // max 1439px

// max 1199px
// -------------------------------
@media (max-width: @screen-md-max) {

  /* EXTENDED PAGE */
  .extended {

    /* MAIN */
    .main-container {
      section.section {
        .block.first_block {
          &.text_super_banner {
            .block-full {
              .block-container {
                .super-banner {
                  margin-bottom:4.5%;
                }
              } // block-container
            } // block-full
          } // text_super_banner
        } // first_block
      } // section
    } // main-container

    /* SIDEBAR MOBILE */
    #sidebar-mobile {
      margin:0;
      z-index:3;
      position: relative;
      top:0px;
      width: 100%;
      cursor:pointer;
      min-height:40px;
      max-height:100%;
      height:auto !important;
      #navbar-header.navbar-header {
        width:100%;
        height:39px;

        a.navbar-toggle {
          /*float:none;*/
          width:100%;
          display:block;
          text-align:right;
          text-transform:uppercase;
          padding:0 30px;
          margin:0;
          font-size:13px;
          line-height:40px;
          font-weight:400;
          letter-spacing:1px;
          color:#999;
          height:40px;
          border:none;
          background:lighten(#f0f4f5,2%);
          border-top:1px solid darken(#F0F4F5,7%);
          border-bottom:1px solid darken(#F0F4F5,7%);
          &:hover,
          &:focus {
            background:lighten(#b2babf,20%);
            text-decoration:none;
            color:@black;
          }
          > span {
            &:before {
              font-family:@icon-font-name;
              content:"\F0C9";
              display:inline-block;
              margin-right:10px;
              vertical-align:middle;
            }
          }
        } // navbar-toggle
      } // navbar-header
      .navbar-collapse {
        padding:0;
        margin:0;
        max-height:100%;
        box-shadow:none;
        border:none;
        width: 100%;
        &.collapse {
          width:100%;
          display:none !important; /* counteract the Bootstrap imporant that makes this block too soon */
        }
        &.in {
          width:100%;
          overflow:visible;
        }
        #sidebar-container {
          width:100% !important;
          position:relative !important;
          #sidebar.sidebar-extended {
            position:relative !important;
            nav.breadcrumb-links {
              > div {
              }
            }
            nav.section-links {
              ul.list-sections {
                > li {
                  > a {
                  }
                }
              }
              ul.list-related {
              	margin:12px 0;
              	> li > a {
              	}
              }
            }
            nav.sibling-links {
              ul.list-pages {
                li {
                  background:#f0f4f5;
                  a {
                  }
                }
              }
            }
          }
        } // sidebar-container
      } // navbar-collapse
    } // sidebar-mobile

  } // extended

} // max 1199px

// max 991px
// -------------------------------
@media (max-width: @screen-sm-max) {

  /* EXTENDED PAGE */
  .extended {

    /* MAIN */
    .main-container {
      margin-top: 0px;
      overflow: hidden;
      section.section {
        position:relative;
        top:-1px;
        .block:not(.first_block) {
          padding:6% 0;
          &.multi_block_first {
            padding-bottom:2%;
          }
          &.multi_block_end {
            padding-top:2%;
          }
          .block-full {
            .block-container {
              .container {
                padding-left:0;
                padding-right:0;
              }
            } // block-container
          } // block-full
          p,
          p:last-of-type{
            margin-bottom:20px;
          }
          p.block-subtitle,
          p.block-subtitle-plus {
            margin-bottom:0;
          }
          table.table {
            /*margin-top:30px;*/
          }
          &.text_image_right,
          &.graph_text_left {
            img.img-responsive:not(.icon) {
              margin: 30px 0 0;
            }
          }
          &.text_image_left,
          &.graph_text_right {
            img.img-responsive:not(.icon) {
              margin: 0 0 30px;
            }
          }
          &.text_3_images {
            img.img-responsive:not(.icon).img-1 {
              margin: 0 0 30px;
            }
            img.img-responsive:not(.icon).img-2 {
              margin: 30px 0;
            }
            img.img-responsive:not(.icon).img-3 {
              margin: 30px 0;
            }
          }
        } // block
        .block {

          .image-caption {
            height: auto !important;
          }

          &.text_super {
            padding:10% 0;
            .block-full {
              .block-container {
                .container {
                  padding-left:0;
                  padding-right:0;
                }
              } // block-container
            } // block-full
          }
          &.text_super_banner {
            padding:0 0 6%;
            .block-full {
              .block-container {
                .super-banner {
                  margin-bottom:6.5%;
                }
                .container {
                  padding-left:0;
                  padding-right:0;
                }
              } // block-container
            } // block-full
          } // text_super_banner
        } // block
      } // section
      #arrow-top {
        right: 16px;
      }
    } // main-container

    /* SIDEBAR MOBILE */
    #sidebar-mobile {
      position:relative;
      top:-1px;
      margin-bottom:-1px;
      #navbar-header.navbar-header {
        a.navbar-toggle {
          text-align:center;
        } // navbar-toggle
      } // navbar-header
      .navbar-collapse {
        &.collapse {
        }
        &.in {
        }
        #sidebar-container {
          #sidebar.sidebar-extended {
            text-align:left;
            nav.breadcrumb-links {
              > div {
              a,
              span {
	              margin-left:30px;
              }
              }
            }
            nav.section-links {
              ul.list-sections {
                > li {
                	margin-left:30px;
                  > a {
                  }
                }
              }
              ul.list-related {
	              border-right:none;
	              border-left:1px solid #ccc;
	              padding:0 0 0 15px;
              }
            }
            nav.sibling-links {
              ul.list-pages {
                a {
                margin-left:30px;
                }
              }
            }
          }
        } // sidebar-container
      } // navbar-collapse
    } // sidebar-mobile

  } // extended

  .bck-overlay {
    display:none !important;
  }

} // max 991px

// max 767px
// -------------------------------
@media (max-width: @screen-xs-max) {

  /* EXTENDED PAGE */
  .extended {

    /* MAIN */
    .main-container {
      section.section {
        .block:not(.first_block) {
          padding:8% 0;
          .block-full {
            .block-container {
              .container {
                padding-left:25px;
                padding-right:25px;
              }
            } // block-container
          } // block-full
        } // block
        .block {
          &.text_super {
            padding:10% 0;
            .block-full {
              .block-container {
                .container {
                  padding-left:25px;
                  padding-right:25px;
                }
              } // block-container
            } // block-full
          }
          &.text_super_banner {
            padding:0 0 8%;
            .block-full {
              .block-container {
                .super-banner {
                  margin-bottom:9%;
                }
                .container {
                  padding-left:25px;
                  padding-right:25px;
                }
              } // block-container
            } // block-full
          } // text_super_banner
        } // block
      } // section
    } // main-container

  } // extended

} // max 767px

// max 479px
// -------------------------------
@media (max-width: @screen-xxs-max) {

  /* EXTENDED PAGE */
  .extended {

    /* MAIN */
    .main-container {
      section.section {
        .block:not(.first_block) {
          padding:12% 0;
          .block-full {
            .block-container {
              .container {
                padding-left:25px;
                padding-right:25px;
              }
            } // block-container
          } // block-full
        } // block
        .block {
          &.text_super {
            padding:15% 0;
          }
          &.text_super_banner {
            padding:0 0 12%;
            .block-full {
              .block-container {
                .super-banner {
                  margin-bottom:13%;
                }
                .container {
                  padding-left:25px;
                  padding-right:25px;
                }
              } // block-container
            } // block-full
          } // text_super_banner
        } // block
      } // section
      #arrow-top {
        right: 12px;
      }
    } // main-container

  } // extended

} // max 479px