//
// TRANSIT PAGE STYLES
// --------------------------------------------------

.transit {

  // transit-copy
  #transit-copy {
    color:@white;
    padding-left:7%;
    padding-right:7%;

    .transit-header {
      margin-bottom:@block-title-plus;

      .transit-icon {
        float: left;
        margin-right:3%;
        width:auto;
        .icon {
          height:100px;
          width:auto;
          margin:0;
        }
      } // transit-icon

      .block-title-plus {
        font-weight:100;
        margin:auto;
      }

    } // transit-header

    .transit-subheader {
      margin-bottom:@block-title;
    }

    .transit-lead {

      p {
        font-weight:100;
        margin-bottom:ceil(@line-height-computed * 1.75);
      }
      p:last-of-type {
        margin-bottom:0;
      }
      h5 {
        letter-spacing:1.25px;
      }

    } // transit-lead

  } // transit-copy

  // pages-list
  #pages-list {
    height: 100%;

    #pages-container {
      height: inherit;

      .page-block {
        background: rgb(255,255,255);
        padding:0;

        .page {
          height: 100%;
          .img-container {
            float:left;
            height:100%;
            width: 25%;
            background: transparent;
            display: inline-block;
            border-bottom-style:solid;
            border-bottom-width:1px;
            border-bottom-color:#ddd;
          }
          .desc-container {
            width: 75%;
            float: left;
            padding:0 6%;
            height: inherit;
            border-bottom-style:solid;
            border-bottom-width:1px;
            border-bottom-color:#ddd;
          }
          h2 {
            font-weight: 100;
          }
          p {
            color: #999;
          }
          &:hover {
            .desc-container {
              border:none;
              background-color:#f5f5f5;
              border-bottom-style:solid;
              border-bottom-width:1px;
              border-bottom-color:#ddd;
            }
          }

        } // page

        &.last {
          .page {
            .desc-container {
              border:none;
            }
            &:hover {
              .desc-container {
                border:none;
              }
            }
          } // page
        } // page-block.last

      } // page-block

    } // pages-container

  } // pages-list

  // view-container
  #view-container.small-height {
    height: auto !important;
    #transit-copy {
      width: 100%;
      margin-top: 0 !important;
    }
    #pages-list {
      height: auto;
      width: 100%;
      float: none;
      overflow: hidden;
    }
  } // view-container

} // transit

// MQ - TRANSIT
// --------------------------------------------------

// max 1999px
// -------------------------------
@media (max-width: @screen-xxl-max) {
  .transit {

    // transit-copy
    #transit-copy {
      padding-left:5%;
      padding-right:5%;
      .transit-header {
        .transit-icon {
          margin-right:4%;
          .icon {
            height:70px;
          }
        }
        .block-title-plus {
        }
      }
    } // transit-copy


  } // transit
} // screen-xxl-max

// max 1679px
// -------------------------------
@media (max-width: @screen-xl-max) {
  .transit {

    // transit-copy
    #transit-copy {
      padding-left:4%;
      padding-right:4%;
      .transit-header {
        margin-bottom:@block-title-plus / 1.25;
        .transit-icon {
          margin-right:4%;
          .icon {
            height:60px;
          }
        }
        .block-title-plus {
        }
      }
      .transit-subheader {
        margin-bottom:@block-title / 1.5;
      }
      .transit-lead {
        p {
          margin-bottom:ceil(@line-height-computed);
        }
      }
    } // transit-copy

  } // transit
} // screen-xl-max

// max 1439px
// -------------------------------
@media (max-width: @screen-lg-max) {
  .transit {

    // transit-copy
    #transit-copy {
      padding-left:4%;
      padding-right:4%;
      .transit-header {
        margin-bottom:@block-title-plus / 1.5;
        .transit-icon {
          margin-right:4%;
          .icon {
            height:55px;
          }
        }
        .block-title-plus {
        }
      }
      .transit-subheader {
        margin-bottom:@block-title / 1.7;
      }
      .transit-lead {
        p {
          margin-bottom:ceil(@line-height-computed / 1.1);
        }
      }
    } // transit-copy

  } // transit
} // screen-lg-max

// max 1199px
// -------------------------------
@media (max-width: @screen-md-max) {
  .transit {

    // transit-copy
    #transit-copy {
      .transit-header {
        margin-bottom:@block-title-plus / 1.3;
        .transit-icon {
          margin-right:5%;
          .icon {
            height:50px;
          }
        }
        .block-title-plus {
          font-size:@block-title-plus / 1.6;
          line-height:1;
        }
      }
      .transit-subheader {
        margin-bottom:@block-title / 1.5;
        .block-title {
          font-size:@block-title / 1.6;
          line-height:1;
        }
      }
      .transit-lead {
        p {
          margin-bottom:ceil(@line-height-computed / 1.1);
        }
      }
    } // transit-copy

  } // transit
} // screen-md-max

// max 991px or max height 720px
// -------------------------------
@media (max-width: @screen-sm-max), (max-height: @screen-sm-height) {
  .transit {

    #view-container {
      height:inherit !important;
      overflow:inherit !important;
      position:inherit !important;
    }

    #transit-copy {
      width:100%;
      min-height:300px;
      padding:5%;
      &.dynamicAlign {
        margin-top:0 !important;
      }
      .transit-header {
        .transit-icon {
          margin-right:3%;
        }
      }
    }
    #pages-list {
      width:100%;
      .page-block {
        height:140px !important;
      }
    }

  } // transit
} // screen-sm-max or screen-sm-height

// max 767px
// -------------------------------
@media (max-width: @screen-xs-max) {
  .transit {

    // transit-copy
    #transit-copy {
      padding:7% 6%;
      .transit-header {
        margin-bottom:@block-title-plus / 1.5;
        .transit-icon {
          margin-right:4%;
          .icon {
            height:50px;
          }
        }
        .block-title-plus {
          font-size:@block-title-plus / 1.8;
          line-height:1;
        }
      }
      .transit-subheader {
        margin-bottom:@block-title / 1.7;
        .block-title {
          font-size:@block-title / 1.8;
          line-height:1;
        }
      }
      .transit-lead {
        p {
          margin-bottom:ceil(@line-height-computed / 1.1);
        }
      }
    } // transit-copy
    #pages-list {
      .page-block {
        height:150px !important;
      }
    }

  } // transit
} // screen-xs-max

// max 479px
// -------------------------------
@media (max-width: @screen-xxs-max) {
  .transit {

    // transit-copy
    #transit-copy {
      padding:10% 8%;
      .transit-header {
        .transit-icon {
          margin-right:6%;
        }
      }
    } // transit-copy
    #pages-list {
      .page-block {
        height:150px !important;
        .page {
          .block-title {
            font-size:@block-title / 1.8;
            line-height:1;
          }
        }
      }
    }

  } // transit
} // screen-xxs-max

// max height 900px
// -------------------------------
@media (max-height: @screen-md-height) {
  .transit {

    // transit-copy
    #transit-copy {
      padding-left:4%;
      padding-right:4%;
      .transit-header {
        margin-bottom:@block-title-plus / 1.5;
        .transit-icon {
          margin-right:4%;
          .icon {
            height:50px;
          }
        }
        .block-title-plus {
          font-size:@block-title-plus / 1.8;
          line-height:1;
        }
      }
      .transit-subheader {
        margin-bottom:@block-title / 1.7;
        .block-title {
          font-size:@block-title / 1.8;
          line-height:1;
        }
      }
      .transit-lead {
        p {
          margin-bottom:ceil(@line-height-computed / 1.1);
        }
      }
    } // transit-copy

  } // transit
} // screen-md-height