
@media (max-width: @screen-xxs-max) {

  #site-footer {

    .nav.pull-right {
      li {
        display:inline-block;
        width:200px;
        margin-left:0;
        a {
          padding-left:0;
          margin-left:0;
        }
      }
    }
  }
}