//
// GLOBAL Mobile Styles & Media Queries
// --------------------------------------------------

/* BY WIDTH - WIDEST to NARROWEST VIEWPORT */
/*--------------------------------*/

// min 2000px and up
// -------------------------------
@media (min-width: @screen-xxxl-min) {

}

// max 1999px
// -------------------------------
@media (max-width: @screen-xxl-max) {

}

// max 1679px
// -------------------------------
@media (max-width: @screen-xl-max) {

}

// max 1439px
// -------------------------------
@media (max-width: @screen-lg-max) {

  /* SITE HEADER */
  header#site-header {
    #navbar {
      &.navbar.navbar-default {
        .navbar-header {
          .navbar-brand {
            .img-responsive {
            }
          } // navbar-brand
          .navbar-toggle {
          } // navbar-toggle
        } // navbar-header
        .navbar-collapse {
          .navbar-nav {
            li {
              a {
                font-size:13px;
                padding-left:12px;
                padding-right:12px;
                margin:0 10px;
              }
              > .dropdown-menu {
              }
              &.dropdown {
                &.open {
                  > a, a:hover, a:focus {
                  }
                  > .dropdown-menu {
                    > li > a {
                    }
                  }
                } // open
              } // dropdown
              &#search-icon {
                form {
                }
                input {
                }
                a {
                  font-size:11px;
                  padding-right:0;
                  i {
                  }
                }
              } // search-icon
            } // li
          } // nabar-nav
          &.navbar-collapse-target {
          } // &.navbar-collapse-target
          &.in {
          } // &.in
        } // navbar-collapse
      } // navbar.navbar-default
    } // navbar
    #navbar-sub {
    } // navbar-sub
  } // site-header

  /* MAIN */
  #main {
    section.section {
      .block.first_block {
        &.text_super_banner {
          .block-row {
            .block-container {
              .super-banner {
                margin-bottom:6%;
                width:101%;
              }
            } // block-container
          } // block-row
        } // text_super_banner
      } // first_block
    } // section
  } // main

}

// max 1199px
// -------------------------------
@media (max-width: @screen-md-max) {

  /* SITE HEADER */
  header#site-header {
    .container {
      padding:0 15px;
    }
    #navbar {
      &.navbar.navbar-default {
        min-height:30px;
        .navbar-header {
          .navbar-brand {
            .img-responsive {
              height: 60px;
              -webkit-transition: height 0.5s ease, width 0.5s ease;
              -moz-transition: height 0.5s ease, width 0.5s ease;
              -o-transition: height 0.5s ease, width 0.5s ease;
              transition: height 0.5s ease, width 0.5s ease;
            }
          } // navbar-brand
          .navbar-toggle {
          } // navbar-toggle
        } // navbar-header
        .navbar-collapse {
          padding-left:25px;
          .navbar-nav {
            li {
              a {
                padding-left:8px;
                padding-right:8px;
                padding-top:40px;
                padding-bottom:26px;
                margin:0 5px;
              }
              &.active {
	              a:before {
		              border-top: (@navbar-height - 10px) solid transparent;
		              border-left: 5px solid @brownBG03;
	              }
	              a:after {
		              border-bottom: (@navbar-height - 10px) solid transparent;
		              border-right: 5px solid @brownBG03;
	              }
              }
              > .dropdown-menu {
              }
              &.dropdown {
                &.open {
                  > a, a:hover, a:focus {
                  }
                  > .dropdown-menu {
                    > li > a {
                    }
                  }
                } // open
              } // dropdown
              &#search-icon {
                form {
                }
                input {
                }
                a {
                  i {
                  }
                }
              } // search-icon
            } // li
          } // nabar-nav
          &.navbar-collapse-target {
          } // &.navbar-collapse-target
          &.in {
          } // &.in
        } // navbar-collapse
      } // navbar.navbar-default
    } // navbar
    #navbar-sub {
    } // navbar-sub
  } // site-header

  /* WRAP */
  #wrap {
    margin-top:80px;
  } // wrap

  /* MAIN */
  #main {
    section.section {
    	.block {
	    	.block-row {
		    	.block-container {
			    	float:none;
			    	.container {
				    	padding:0;
			    	}
		    	}
	    	}
    	}
      .block.first_block {
        &.text_super_banner {
          .block-row {
            .block-container {
              .super-banner {
                margin-bottom:4.5%;
              }
            } // block-container
          } // block-row
        } // text_super_banner
      } // first_block
    } // section
  } // main

  /* SIDEBAR MOBILE */
  #sidebar {
    margin:0;
    z-index:3;
    position: relative;
    top:0px;
    width: 100%;
    cursor:pointer;
    min-height:40px;
    max-height:100%;
    height:auto !important;
    #navbar-header.navbar-header {
      width:100%;
      height:39px;
      a.navbar-toggle {
        /*float:none;*/
        width:100%;
        display:block;
        text-align:right;
        text-transform:uppercase;
        padding:0 30px;
        margin:0;
        font-size:13px;
        line-height:40px;
        font-weight:400;
        letter-spacing:1px;
        color:#999;
        height:40px;
        border:none;
        background:lighten(#f0f4f5,2%);
        border-top:1px solid darken(#F0F4F5,7%);
        border-bottom:1px solid darken(#F0F4F5,7%);
        &:hover,
        &:focus {
          background:lighten(#b2babf,20%);
          text-decoration:none;
          color:@black;
        }
        > span {
          &:before {
            font-family:@icon-font-name;
            content:"\F0C9";
            display:inline-block;
            margin-right:10px;
            vertical-align:middle;
          }
        }
      } // navbar-toggle
    } // navbar-header
    .navbar-collapse {
      padding:0;
      margin:0;
      max-height:100%;
      box-shadow:none;
      border:none;
      &.collapse {
        width:100%;
        display:none !important;
      }
      &.in {
        width:100%;
        overflow:visible;
      }
      #sidebar-container {
        width:100% !important;
        position:relative !important;
        #sidebar-content {
          position:relative !important;
          nav.breadcrumb-links {
            > div {
              padding:3px 25px 0;
              font-size:16px;
            }
          }
          nav.section-links {
            ul.list-sections {
              > li {
                > a {
                  font-size:13px;
                  font-weight:400;
                  height:30px;
                  line-height:30px;
                  letter-spacing:0.4px;
                }
              }
            }
          }
          nav.sibling-links {
            ul.list-pages {
              li {
                background:#f0f4f5;
                a {
                  padding:3px 25px 0;
                  font-size:16px;
                }
              }
            }
          }
        }
      } // sidebar-container
    } // navbar-collapse
  } // sidebar

}

// max 991px
// -------------------------------
@media (max-width: @screen-sm-max) {

  header#site-header {

    #navbar {
      position:relative;
      border-bottom:0;
      .container {
        padding: 0;
      }
      &.navbar.navbar-default {
        border:none;
        min-height:30px;
        .navbar-header {
          padding-bottom:0;
          margin-left: 0;
          margin-right: 0;
          .navbar-brand {
            float:none;
            display:block;
            height:auto;
            width:100%;
            min-height:30px;
            padding:0 0 25px 0;
            .img-responsive {
              height: 60px;
              margin:auto;
              -webkit-transition: height 0.5s ease, width 0.5s ease;
              -moz-transition: height 0.5s ease, width 0.5s ease;
              -o-transition: height 0.5s ease, width 0.5s ease;
              transition: height 0.5s ease, width 0.5s ease;
            }
          } // navbar-brand
          .navbar-toggle {
            display:block;
          } // navbar-toggle
        } // navbar-header
        .navbar-collapse {
          max-height:100%;
          padding:0;
          border:none;
          margin-left: 0;
          margin-right: 0;
          .navbar-nav {
            float:none;
            width:100%;
            margin:0;
            li {
              a {
                padding:15px 30px;
              }
              > .dropdown-menu {
              }
              &.dropdown {
                &.open {
                  > a, a:hover, a:focus {
                    background:darken(#f0f4f5,2%);
                    border-bottom:1px solid #fff;
                  }
                  > .dropdown-menu {
                    display:block;
                    > li > a {
                      padding:12px 45px;
                    }
                  }
                } // open
              } // dropdown
              &#search-icon {
                display:block;
                padding:0 30px;
                width:100%;
                height:40px;
                form {
                  display:block;
                  width:auto;
                  height:40px;
                }
                input {
                  display:inline !important;
                  margin:15px 0;
                  width:94%;
                }
                a {
                  float:right;
                  padding-left:1% !important;
                  padding-right:0 !important;
                  padding-top:22px !important;
                  padding-bottom:15px !important;
                  width:4%;
                  i {
                    text-align:center;
                  }
                }
              } // search-icon
            } // li
          } // nabar-nav
          &.navbar-collapse-target {
            float:none;
            padding-left:0;
            border:0;
          } // &.navbar-collapse-target
          &.in {
            overflow-y:visible;
            border-bottom:1px solid darken(#F0F4F5,7%);
          } // &.in
        } // navbar-collapse
      } // navbar.navbar-default
    } // navbar
    #navbar-sub {
      display:none !important;
    } // navbar-sub
  } // site-header

	/* WRAP */
	#wrap {
	 	margin-top: 0px;
	 	overflow: hidden;
	 } // wrap

	/* MAIN */
	#main {
	 section.section {
	   position:relative;
	   top:-1px;
	   .block:not(.first_block) {
	     padding:6% 0;
	     &.multi_block_first {
	       padding-bottom:2%;
	     }
	     &.multi_block_end {
	       padding-top:2%;
	     }
	     .block-row {
	       .block-container {
	         .container {
	           //padding-left:0;
	           //padding-right:0;
	         }
	       } // block-container
	     } // block-row
	     p,
	     p:last-of-type{
	       margin-bottom:20px;
	     }
	     p.block-subtitle,
	     p.block-subtitle-plus {
	       margin-bottom:0;
	     }
	     table.table {
	       /*margin-top:30px;*/
	     }
	     &.text_image_right,
	     &.graph_text_left {
	       img.img-responsive:not(.icon) {
	         margin: 30px 0 0;
	       }
	     }
	     &.text_image_left,
	     &.graph_text_right {
	       img.img-responsive:not(.icon) {
	         margin: 0 0 30px;
	       }
	     }
	     &.text_3_images {
	       img.img-responsive:not(.icon).img-1 {
	         margin: 0 0 30px;
	       }
	       img.img-responsive:not(.icon).img-2 {
	         margin: 30px 0;
	       }
	       img.img-responsive:not(.icon).img-3 {
	         margin: 30px 0;
	       }
	     }
	   } // block
	   .block {

	     .image-caption {
	       height: auto !important;
	     }

	     &.text_super {
	       padding:10% 0;
	       .block-row {
	         .block-container {
	           .container {
	             padding-left:0;
	             padding-right:0;
	           }
	         } // block-container
	       } // block-row
	     }
	     &.text_super_banner {
	       padding:0 0 6%;
	       .block-row {
	         .block-container {
	           .super-banner {
	             margin-bottom:6.5%;
	           }
	           .container {
	             padding-left:0;
	             padding-right:0;
	           }
	         } // block-container
	       } // block-row
	     } // text_super_banner
	   } // block
	 } // section
	} // main

	/* SIDEBAR MOBILE */
	#sidebar {
	 position:relative;
	 top:-1px;
	 margin-bottom:-1px;
	 #navbar-header.navbar-header {
	   a.navbar-toggle {
	     text-align:center;
	   } // navbar-toggle
	 } // navbar-header
	 .navbar-collapse {
	   &.collapse {
	   }
	   &.in {
	   }
	   #sidebar-container {
	     #sidebar-content {
	       text-align:left;
	       nav.breadcrumb-links {
	         > div {
	           padding:3px 25px 0;
	           font-size:16px;
	         }
	       }
	       nav.section-links {
	         ul.list-sections {
	           > li {
	             > a {
	               font-size:13px;
	               font-weight:400;
	               height:30px;
	               line-height:30px;
	               letter-spacing:0.4px;
	             }
	           }
	         }
	       }
	       nav.sibling-links {
	         ul.list-pages {
	           a {
	             padding:3px 25px 0;
	             font-size:16px;
	           }
	         }
	       }
	     }
	   } // sidebar-container
	 } // navbar-collapse
	} // sidebar

  .bck-overlay {
    display:none !important;
  }

}

// max 767px
// -------------------------------
@media (max-width: @screen-xs-max) {

  /* MAIN */
  #main {
    section.section {
      .block {
        padding:8% 0;
        .block-row {
          .block-container {
            .container {
              padding-left:25px;
              padding-right:25px;
            }
          } // block-container
        } // block-row
      } // block
      .block {
        &.text_super {
          padding:10% 0;
          .block-row {
            .block-container {
              .container {
                padding-left:25px;
                padding-right:25px;
              }
            } // block-container
          } // block-row
        }
        &.text_super_banner {
          padding:0 0 8%;
          .block-row {
            .block-container {
              .super-banner {
                margin-bottom:9%;
              }
              .container {
                padding-left:25px;
                padding-right:25px;
              }
            } // block-container
          } // block-row
        } // text_super_banner
      } // block
    } // section
  } // main

}

// max 479px
// -------------------------------
@media (max-width: @screen-xxs-max) {

  /* MAIN */
  #main {
    section.section {
      .block {
        padding:12% 0;
        .block-row {
          .block-container {
            .container {
              padding-left:25px;
              padding-right:25px;
            }
          } // block-container
        } // block-row
      } // block
      .block {
        &.text_super {
          padding:15% 0;
        }
        &.text_super_banner {
          padding:0 0 12%;
          .block-row {
            .block-container {
              .super-banner {
                margin-bottom:13%;
              }
              .container {
                padding-left:25px;
                padding-right:25px;
              }
            } // block-container
          } // block-row
        } // text_super_banner
      } // block
    } // section
  } // main

}

/* BY MAX HEIGHT */
/*--------------------------------*/

// max height 720px
// -------------------------------
@media (max-height: @screen-sm-height) {

}

// max height 900px
// -------------------------------
@media (max-height: @screen-md-height) {

}

/* BY MIN WIDTH TO MAX WIDTH */
/*--------------------------------*/

// min 480px to max 767px
// -------------------------------
@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {

}

// min 768px to max 991px
// -------------------------------
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

}

// min 992px to max 1199px
// -------------------------------
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

}

// min 1200px to max 1439px
// -------------------------------
@media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {

}

// min 1440px to max 1679px
// -------------------------------
@media (min-width: @screen-xl-min) and (max-width: @screen-xl-max) {

}

// min 1680px to max 1999px
// -------------------------------
@media (min-width: @screen-xxl-min) and (max-width: @screen-xxl-max) {

}

/* BY DEVICE */
/*--------------------------------*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px)
and (max-width : 768px) {

}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {

}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

}