/* SITE HEADER */
	header#site-header {
		.container {
		}
		#navbar {
			&.navbar.navbar-default {
				.navbar-header {
					.navbar-brand {
			    		.img-responsive {
			    		}
					} // navbar-brand
					.navbar-toggle {
					} // navbar-toggle
				} // navbar-header
				.navbar-collapse {
			    	.navbar-nav {
				    	li {
					    	a {
					    	}
					    	> .dropdown-menu {
						    }
					    	&.dropdown {
								&.open {
									> a, a:hover, a:focus {
									}
									> .dropdown-menu {
								        > li > a {
								        }
								    }
								} // open
					    	} // dropdown
							&#search-icon {
								form {
								}
								input {
								}
								a {
							      i {
							      }
								}
							} // search-icon
				    	} // li
			    	} // nabar-nav
			    	&.navbar-collapse-target {
			    	} // &.navbar-collapse-target
			    	&.in {
			    	} // &.in
				} // navbar-collapse
			} // navbar.navbar-default
		} // navbar
		#navbar-sub {
		} // navbar-sub
	} // site-header

/* PAGE */
	.page&:not(.home) {
		.wrap {
		}
	} // page

/* SIDEBAR */
	#sidebar {
		#navbar-header.navbar-header {
			a.navbar-toggle {
				&:hover,
				&:focus {
				}
			} // navbar-toggle
		} // navbar-header
		.navbar-collapse {
			&.collapse {
			}
			&.in {
			}
			#sidebar-container {
				#sidebar-content {
				}
			} // sidebar-container
		} // navbar-collapse
	} // sidebar