// Application Color Profiles
// Description: Set all application-wide color definitions here
// To see examples, see the Color Swatches PNG

// Endpoints
@white: #fff;
@black: #000;

// Greys
@light-grey: #f5f5f5;
@mid-grey: #d7dada;
@dark-grey: #353b3b;

// Default Color
@default: @dark-grey;

// Flat UI Color Swatches (http://designmodo.github.io/Flat-UI) see the color-swatchs.png
@turquoise: #1abc9c;
@green-sea: #16a085;
@emerald: #2ecc71;
@nephritis: #27ae60;
@peter-river: #3498db;
@belize-hole: #2980b9;
@amethyst: #9b59b6;
@wisteria: #8e44ad;
@wet-asphalt: #34495e;
@midnight-blue: #2c3e50;
@sunflower: #f1c40f;
@orange: #f39c12;
@carrot: #e67e22;
@pumpkin: #d35400;
@alizarin: #e74c3c;
@pomegranate: #c0392b;
@clouds: #ecf0f1;
@silver: #dbc3c7;
@concrete: #95a5a6;
@asbestos: #7f8c8d;

// Message Colors
@msg-default: #999;
@msg-success: #5cb85c;
@msg-warning: #f0ad4e;
@msg-danger: #d9534f;
@msg-info: #5bc0de;

//Social Colors
@dailymile: #FFAA25;
@facebook: #3B5998;
@flickr: #f80082;
@github: #F7F7F7;
@google: #d7473d;
@instagram: #37658D;
@linkedin: #2C8CC0;
@pinterest: #c5142b;
@runkeeper: #3193d3;
@skype: #00abee;
@spotify: #7AB800;
@twitter: #3B8ACA;

// Set Site Specific Base, Highlight and Accent Colors Here for easy switching between themes
@base: @dark-grey;
@highlight: @belize-hole;
@accent: @peter-river;

// Theme Colors

@brown: 		#664D2C; /*brighter*/
@brownBG01: #353027;
@brownBG02: #2e281e; /*lighter*/
@brownBG03: #211b0f; /*darker*/
@brownBG04: #17130b;
@slate: 		#789695; /*brighter*/
@slateBG00: #bbc3c3;
@slateBG01:	#93A1A1; /*lightest*/
@slateBG02:	#829396; /*medlight*/
@slateBG03:	#657B83; /*meddark*/
@slateBG04:	#586e75; /*darkest*/
@cremeBG01:	#FCF5E3; /*lighter*/
@cremeBG02:	#EDE7D4; /*light*/

@calvarylife: 		#789695; //SLATE
@discover: 		#8a7ca0; //#553D7A; //PURPLE
@gather: 			#ba584a; //#873428; //RED
@receive: 		#d47938; //#C16828; //ORANGE
@connect: 		#d7a637; //#E1A825; //YELLOW
@grow: 			  #acb04a; //#9DA230; //GREEN
@reach: 			#7db4b7; //#71AEB1; //CYAN